<!DOCTYPE html>
<html>
<head>
	<title>Team Work App (Name comming)</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="styles/style.css">
	<script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
	<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script type="text/javascript" src="scripts/index.js"></script>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light z-depth-1">
		<a class="navbar-brand" href="#">Logo goes here</a>
		<div class="collapse navbar-collapse justify-content-end">
			<ul class="navbar-nav">
				<li class="nav-item dropdown">
			        <a id="discover" class="nav-link" href="#"  role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			          Discover <i data-feather="chevron-down"></i>
			      	</a>
			        <div class="dropdown-menu" aria-labelledby="discover">
			          <a class="dropdown-item" href="#">Quickstart</a>
			          <a class="dropdown-item" href="#">Documentation</a>
			          <div class="dropdown-divider"></div>
			          <a class="dropdown-item" href="#">About</a>
			        </div>
			    </li>
				<li><a id="login" class="btn" href="#">Login</a></li>
				<li><a id="getStarted" class="btn" href="#">Get Started</a></li>
			</ul>
		</div>
	</nav>
	<section id="mainSection">
		<div id="particles-js">
			<div id="headingCont">
				<h1>The future is now</h1>
				<p>The way we do projects, changed forever</p>
				<a id="discoverMain" class="btn" href="#">Discover</a></li>
				<a id="getStartedMain" class="btn" href="#">Get Started</a></li>
			</div>
		</div>
	</section>
</body>
</html>