<!DOCTYPE html>
<html>
<head>
	<title>Team Work App (Name comming)</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="styles/animate.css">
	<link rel="stylesheet" type="text/css" href="styles/style.css">
	<link rel="stylesheet" type="text/css" href="styles/dashboard.css">
	<script src="https://www.gstatic.com/firebasejs/4.12.0/firebase.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
	<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://unpkg.com/popper.js/dist/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script type="text/javascript" src="scripts/dashboard.js"></script>
</head>
<body id="body" class="animated">
	<div id="loadingCover" class="animated">
		<h5 id="loadingSlogan" class="loadingSlogan animated fadeInUp">Counting Stars</h5>
	</div>
	<section id="dashboardSection">
		<nav id="dashNav" class="navbar navbar-expand-lg">
		<div class="collapse navbar-collapse justify-content-left">
			<ul class="navbar-nav">
				<li class="nav-item dropdown">
			        <a id="userAccount" class="nav-link" href="#"  role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			      	</a>
			        <div id="userAccountMenu" class="dropdown-menu dropleft animated" aria-labelledby="userAccount">
			          <a id="newProject" class="dropdown-item" href="#"><i data-feather="plus-square"></i> New Project</a>
			          <a class="dropdown-item" href="#"><i data-feather="folder"></i> My Projects</a>
			          <a id="profileTrigger" class="dropdown-item" href="#"><i data-feather="user"></i> Profile</a>
			          <a id="socialTrigger" class="dropdown-item" href="#"><i data-feather="globe"></i> Social</a>
			          <div class="dropdown-divider"></div>
			          <a id="signOut" class="dropdown-item" href="#"><i data-feather="log-out"></i> Sign Out</a>
			        </div>
			    </li>
			</ul>
			<!-- SIDE NAVIGATION -->
			<ul class="navbar-nav ml-auto">
				<li class="nav-item dropdown">
			        <span id="friendRequestsMenuTrigger" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i id="friendRequests" data-feather="users" class="nav-link" href="#"></i><span id="friendRequestNotification"></span></span>
			      	</a>
			        <div id="friendRequestsMenu" class="dropdown-menu friendRequstsMenu dropdown-menu-right animated" aria-labelledby="menu">
			          <p class="dropdown-item">Friend Requests</p>
			          <div class="dropdown-divider"></div>
			          <a id="friendRequestPlaceholder" href="#" class="dropdown-item animated fadeIn">No new friend requests, everything is up to date!</a>
			          <div id="masterRequest" class="pendingFriendRequest">
						<span class="pendingFriendRequestChoices"><span class="acceptFriendRequest"> <i data-feather="user-check"></i> Accept</span> <span class="declineFriendRequest"> <i data-feather="user-x"></i> Decline </span></span>
					  </div>
			        </div>
			    </li>
				<li class="nav-item dropdown">
			        <i id="notification" data-feather="bell" class="nav-link" href="#"  role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i><span id="notificationNotification"></span>
			      	</a>
			        <div id="notificationMenu" class="dropdown-menu dropdown-menu-right animated" aria-labelledby="menu">
			          <span id="removeNotification"><i data-feather="x-square"></i></span>
			          <p class="dropdown-item">Notifications</p>
			          <div class="dropdown-divider"></div>
			          <a id="notificationPlaceholder" href="#" class="dropdown-item animated fadeIn">No new notifications, you are good to go!</a>
			          <a id="notificationsOff" href="#" class="dropdown-item"><i data-feather="bell-off"></i> <span>Turn off notifications</span><span></a>
			        </div>
			    </li>
			    <li><i id="documentation" data-feather="book-open"></i></li>
			</ul>
			<!-- SIDE NAVIGATION END -->
		</div>
	</nav>
	<div class="container">
		<div id="searchCont">	
			<div class="input-group">
		      <div class="input-group-prepend">
		        <span class="input-group-text" id="searchIcon"><i data-feather="search"></i></span>
		      </div>
		      <input id="searchDashboard" class="form-control mr-sm-2" type="search" placeholder="Search..." aria-label="Search">
		    </div>
	    </div>
	  	<div id="mainDashboard">
	  		<div id="dashboardContainer" class="row">

	  			<!-- SOCIAL START -->
	  			<div id="socialMain" class="col col-lg-9 animated">
	  				<ul id="socialToolbar">
	  					<li><span id="addFriend"><i data-feather="user-plus"></i> Add Friend</li></span>
	  					<li><span><i data-feather="activity"></i> Recent Activities</li></span>
	  				</ul>
	  				<div id="socialiconCont" class="row justify-content-center">
	  					<img id="socialicon" src="/img/socialicon.png" class="img-fluid col col-lg-6 animated fadeIn"" alt="Social page icon">
	  				</div>
	  				<div id="addFriendCont" class="row justify-content-center animated fadeIn">
	  					<div id="searchNewFriendCont" class="col col-lg-12">
	  						<h4 class="text-center">Lets find you a new friend</h4>
	  						<p class="text-center">search for email address or full name</p>
	  						<div>	
								<div class="input-group col-lg-8 offset-lg-2">
							      <div class="input-group-prepend">
							        <span id="addFriendSearchIcon" class="input-group-text"><i data-feather="search"></i></span>
							      </div>
							      <input id="addFriendSearch" class="form-control mr-sm-2" type="search" placeholder="nelsonbighetti@piedpiper.com" aria-label="Search">
							    </div>
						    </div>
						    <div class="row justify-content-center col col-lg-4 offset-lg-4">
						    	<h5 id="searchNewFriend" class="text-center col col-lg-10 animated fadeIn">Search <i data-feather="send"></i></h5>
						    </div>
						    <div id="searchNewFriendError" class="col col-lg-8 offset-lg-2 alert alert-danger animated bounceIn" role="alert"></div>
						    <div id="searchNewFriendSuccess" class="col col-lg-8 offset-lg-2 alert alert-success animated fadeIn" role="alert">
							</div>
							<!-- SEARCH REULTS -->
							<div id="masterResult" class=" col col-lg-12 text-center">
								<span><span class="sendFriendRequest"><i data-feather="user-plus"></i></span> <span class="sendFriendMessage"><i data-feather="message-circle"></i></span></span>
							</div>
							<div id="searchResults" class="row searchResults">
							</div>
	  					</div>
	  				</div>
	  			</div>
	  			<div id="socialAside" class="col col-lg-3 animated fadeIn">
	  				<div id="friendsListHeadingCont" class="list-group">
	  					<a href="#" class="list-group-item list-group-item-action flex-column align-items-start friendsListHeading">
					    <div class="d-flex w-100 justify-content-between">
					      <h5 class="mb-1 friendContHeading">Friends<br><span id="amountOnline">5 online</span></h5>
					      <small class="friendOptions"><small id="toggleSearch"><i id="searchFriends" data-feather="search"></i></small><span id="toggleMode" data-toggle="tooltip" data-placement="top"><i id="onlineStatusIcon" data-feather="eye"></i><i id="onlineStatusIcon2" data-feather="eye-off"></i></span>
					      </small>
					    </div>
					  </a>
					  <input id="filterFriends" class="form-control animated" type="search" placeholder="Search for friend..." aria-label="Search">
					</div>
					<div id="friendsListCont" class="list-group">
					    <small id="masterOnlineIcon" class="online"><i data-feather="circle"></i></small>
					    <small id="masterFriendOption" class="friendOptions"><i data-feather="mail"></i> <i data-feather="message-circle"></i> <i class="friendSettings" data-feather="settings"></i></small>
					  </a>
					  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start friendsList">
					    <div class="d-flex w-100 justify-content-between">
					      <h5 class="mb-1 friendName">John Doe</h5>
					      <small class="online"><i data-feather="circle"></i></small>
					    </div>
					    <p class="mb-1 friendEmail">johndoe@hotmail.com</p>
					    <small class="friendOptions"><i data-feather="mail"></i> <i data-feather="message-circle"></i> <i class="friendSettings" data-feather="settings"></i></small>
					  </a>
					</div>
	  			</div>
	  			<!-- END SOCIAL -->

	  			<!-- PROFILE -->
	  			<div id="profileCont" class="col col-lg-3">
	  				<img id="profileImg" class="animated fadeIn" src="/img/avatar.png" alt="Avatar Image"  data-toggle="tooltip" data-placement="top" title="Change your avatar">
	  				<input type="file" id="avatarUpload">
	  				<h5 id="profileHeading">Sander Hellesø</h5>
	  				<p id="profileMail">sanderlade@hotmail.com</p>
	  				<p id="profileLocation"><i data-feather="map-pin"></i> Ålesund, Norway</p>
	  				<p id="profileJoined"><i data-feather="clock"></i> Joined 22.03.2018</p>
	  				<div class="dropdown-divider profileDivider"></div>
	  				<p id="connect">My Social Medias</p>
	  				<a id="profileGithub" class="socialMediaLink animated fadeIn" target="_blank"><i data-feather="github"></i> GitHub</a>
	  				<a id="profileLinkedin" class="socialMediaLink animated fadeIn" target="_blank"><i data-feather="linkedin"></i> Linekdin</a>
	  				<a id="profileInstagram" class="socialMediaLink animated fadeIn" target="_blank"><i data-feather="instagram"></i> Instagram</a>
	  				<a id="profileFacebook" class="socialMediaLink animated fadeIn" target="_blank"><i data-feather="facebook"></i> Facebook</a>
	  				<a id="profileTwitter" class="socialMediaLink animated fadeIn" target="_blank"><i data-feather="twitter"></i> Twitter</a>
	  			</div>
	  			<div id="mainProfile" class="col col-lg-8">
	  				<ul id="profileTabs" class="nav nav-tabs">
					  <li class="active"><a id="overviewTrigger" data-toggle="tab" href="#home">Overview</a></li>
					  <li><a data-toggle="tab" href="#menu1">Projects</a></li>
					  <li><a data-toggle="tab" href="#menu2">Friends</a></li>
					  <li><a data-toggle="tab" href="#menu3">Settings</a></li>
					</ul>

					<div class="tab-content">
					  <div id="home" class="tab-pane fade in active">
					    <h3>Overview</h3>
					    <p>Some content.</p>
					  </div>
					  <div id="menu1" class="tab-pane fade">
					    <h3>Projects</h3>
					    <p>You have no active projects</p>
					  </div>
					  <div id="menu2" class="tab-pane fade">
					    <h3 id="friendsHeading">Friends</h3>
					      <div id="noFriendsRow" class="row text-center">
					      	<h5 id="noFriendsHeading">Looks like you dont have any friends yet!</h5>
					      	<p id="nofriendsIntro">Click the button bellow to start finding friends</p>
					     	<div class="row col col-lg-4 offset-lg-4 text-center">
					     		<img id="noFriendsImg" src="/img/nofriends.png" alt="you have no friends yet">
					     	</div>
					      </div>
						  <div id="profileFriendsRow" class="row">
						  </div>
					  </div>
					  <div id="menu3" class="tab-pane fade">
					    <h3 id="settingsHeading">Settings</h3>
							<div class="form-group">
							  <label for="comment">Add a short bio to show the community what you are all about!</label>
							  <textarea id="bioTextarea" class="form-control settingsInput" rows="4" placeholder="Tell us a little bit about yourself"></textarea>
							</div> 
							<div class="row">
						    <div class="col col-lg-6">
						    	<label for="firstNameProfile">First Name</label>
						      	<input id="firstNameProfile" type="text" class="form-control formInput settingsInput" placeholder="Jared" autocomplete="off">
						    </div>
						    <div class="col col-lg-6">
						    	<label for="lastNameProfile">Last Name</label>
						     	<input id="lastNameProfile" type="text" class="form-control formInput settingsInput" placeholder="Dunn" autocomplete="off">
						    </div>
						  	</div>
						 	<div class="row">
							  <div class="col col-lg-6">
							    	<label for="emailProfile">Email</label>
							      	<input id="emailProfile" type="email" class="form-control formInput settingsInput" class="form-control formInput" aria-describedby="emailProfile" placeholder="jared@piedpiper.com" autocomplete="off">
							      	<p id="emailNote">Email change requires recent sign in</p>
							    </div>
							    <div class="col col-lg-6">
							    	<a id="changeProfilePassword" class="btn col col-lg-12" href="#">Change Password</a>
							    	<p id="passwordNote">Password change requires recent sign in</p>
							    </div>
							</div>
							<div id="updateProfileCont" class="row text-center">
							  <div id="cancelProfileUpdateCont" class="col col-lg-2 text-center">
							    <a id="cancelProfileUpdate" href="#" class="col col-lg-8 text-center">Cancel</a>
							  </div>
							  <div id="confirmProfileUpdateCont" class="col col-lg-2 text-center">
							    <a id="confirmProfileUpdate" href="#" class="col col-lg-8 text-center">Confirm</a>
							  </div>
							</div>
							<h3 id="socialMediaHeading" class="text-left">Social Media</h3>
							<p id="socialMediaIntro">Add social medias to your profile and expand your connections</p>
							<div class="row">
							  <div class="col-8">
							    <input id="githubURL" type="text" class="form-control formInput settingsInput" class="form-control formInput" aria-describedby="githubURL" placeholder="github.com/myusername" autocomplete="off">
							    <p class="socialMediaError"></p>
							  </div>
							  <div class="col-4 text-center"><p id="addGithubURL" class="text-center"><i data-feather="github"></i> Add GitHub</p><span class="text-center removeSocialMedia">Remove GitHub</span></div>
							</div>
						  	<div class="row">
							  <div class="col-8">
							    <input id="linkedinURL" type="text" class="form-control formInput settingsInput" class="form-control formInput" aria-describedby="linkedinURL" placeholder="linkedin.com/in/myusername" autocomplete="off">
							    <p class="socialMediaError"></p>
							  </div>
							  <div class="col-4 text-center"><p id="addLinkedinURL" class="text-center"><i data-feather="linkedin"></i> Add LinkedIn</p><span class="text-center removeSocialMedia">Remove LinkedIn</span></div>
							</div>
							<div class="row">
							  <div class="col-8">
							    <input id="instagramURL" type="text" class="form-control formInput settingsInput" class="form-control formInput" aria-describedby="instagramURL" placeholder="instagram.com/myusername" autocomplete="off">
							    <p class="socialMediaError"></p>
							  </div>
							  <div class="col-4 text-center"><p id="addInstagramURL" class="text-center"><i data-feather="instagram"></i> Add Instagram</p><span class="text-center removeSocialMedia">Remove Instagram</span></div>
							</div>
							<div class="row">
							  <div class="col-8">
							    <input id="facebookURL" type="text" class="form-control formInput settingsInput" class="form-control formInput" aria-describedby="facebookURL" placeholder="facebook.com/myusername" autocomplete="off">
							    <p class="socialMediaError"></p>
							  </div>
							  <div class="col-4 text-center"><p id="addFacebookURL" class="text-center"><i data-feather="facebook"></i> Add Facebook</p><span class="text-center removeSocialMedia">Remove Facebook</span></div>
							</div>
							<div class="row">
							  <div class="col-8">
							    <input id="twitterURL" type="text" class="form-control formInput settingsInput" class="form-control formInput" aria-describedby="twitterURL" placeholder="twitter.com/myusername" autocomplete="off">
							    <p class="socialMediaError"></p>
							  </div>
							  <div class="col-4 text-center"><p id="addTwitterURL" class="text-center"><i data-feather="twitter"></i> Add Twitter</p><span class="text-center removeSocialMedia">Remove Twitter</span></div>
							</div>
						</div>
					  </div>
					</div>
	  			</div>

	  			<!-- END PROFILE -->
	  		</div>
	  	</div>
	</div>
	<!-- PROFILE MODAL -->
	<div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  		<div class="modal-dialog" role="document">
		   <div id="profileModalCont" class="modal-content animated">
		      <div id="exitProfileModal"><span id="profileModalSettings" class="text-left" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i data-feather="settings"></i>
			      <div id="profileModalSettingsMenu" class="dropdown-menu dropdown-menu-right animated" aria-labelledby="menu">
				    <h5 id="profileModalSettingsHeading" class="dropdown-item"></h5>
				        <div class="dropdown-divider"></div>
				        <p id="unfriendUser" class="dropdown-item">Unfriend</p>
				        <p id="unfriendLabel" class="dropdown-item"></p>
				        <span id="confirmUnfriendCont" class="dropdown-item animated fadeIn"><span id="cancelUnfriend">Cancel</span> <span id="confirmUnfriend">Unfriend</span></span>
				        <div id="unfriendDivider" class="dropdown-divider"></div>
				        <p id="reportUser" class="dropdown-item" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Report</p>
				        <div id="reportReasonCont" class="animated fadeIn">
					        <label id="reportReasonLabel" for="reportReason" class="dropdown-item">Why do you want to report Sander?</label>
						    <select multiple class="form-control dropdown-item" id="reportReason">
						      <option>This person bothers me</option>
						      <option>This is a fake account</option>
						      <option>The person is using a name they dont use daily</option>
						      <option>This account is representing a company or organization</option>
						    </select>
						    <span id="confirmReportCont" class="dropdown-item"><span id="cancelReport">Cancel</span> <span id="confirmReport">Report</span></span>
						</div>
					    <div class="dropdown-divider"></div>
				        <p id="blockUser" class="dropdown-item">Block</p>
				        <div id="blockCont" class="animated fadeIn">
				        	<p id="blockLabel" class="dropdown-item"></p>
				        	<span id="confirmBlockCont" class="dropdown-item animated fadeIn"><span id="cancelBlock">Cancel</span> <span id="confirmBlock">Block</span></span>
				        </div>
				   </div>
			   	   </span><span class="close text-right" data-dismiss="modal" aria-label="Close"><i data-feather="x"></i></span>
               	  </div>
                <div class="row justify-content-center">
				<img id="profileModalAvatar" src="/img/avatar.png">
	            </div>
                <h3 id="profileModalName" class="text-center"></h3>
                <h5 id="profileModalEmail" class="text-center"></h5>
                <span id="profileModalCommunication" class="text-center"><i data-feather="mail"></i> <i data-feather="message-circle"></i></span>
                <p id="profileModalBio" class="text-center"></p>
                <p id="profileModalLocation" class="text-center"><i data-feather="map-pin"></i> Ålesund, Norway</p>
	  			<p id="profileModalJoined" class="text-center"><i data-feather="clock"></i> Joined 22.03.2018</p>

	  			<span class="pendingFriendRequestChoicesProfile text-center"><span class="acceptFriendRequestProfile"> <i data-feather="user-check"></i> Accept</span> <span class="declineFriendRequestProfile"> <i data-feather="user-x"></i> Decline </span></span>

	  			<div class="dropdown-divider"></div>
				<h5 id="profileModalFriendsHeading" class="text-left"><i data-feather="users"></i> Friends<br> <span id="commonFriends"></span></h5>
				<p id="foreverAlone" class="text-left">This user have no friends</p>
				<div id="profileModalFriendsRow" class="row justify-content-center"></div>
				<div class="dropdown-divider"></div>
				<h5 id="connectWithProfileHeading" class="text-left"><i data-feather="globe"></i> Connect with <span id="connectUser"></span></h5>
				<div id="connectWithProfileRow">
					<p id="noConnections">No social media links is connected to this account</p>
					<a id="profileGithubModal" class="socialMediaLink animated fadeIn" target="_blank"><i data-feather="github"></i> GitHub</a>
	  				<a id="profileLinkedinModal" class="socialMediaLink animated fadeIn" target="_blank"><i data-feather="linkedin"></i> Linekdin</a>
	  				<a id="profileInstagramModal" class="socialMediaLink animated fadeIn" target="_blank"><i data-feather="instagram"></i> Instagram</a>
	  				<a id="profileFacebookModal" class="socialMediaLink animated fadeIn" target="_blank"><i data-feather="facebook"></i> Facebook</a>
	  				<a id="profileTwitterModal" class="socialMediaLink animated fadeIn" target="_blank"><i data-feather="twitter"></i> Twitter</a>
				</div>
				<div class="dropdown-divider"></div>
		    </div>
		</div>
	</div>
	<!-- END PROFILE MODAL -->

	<!-- RE-AUTHENTICATE MODAL-->
	<div id="authenticateModalCont" class="modal fade authenticateModal authenticate-modal-md" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-backdrop="static">
		<div class="modal-dialog modal-md">
		   	<div id="authenticateModal" class="modal-content">
                <button id="exitLoginModal" type="button" class="close text-right" data-dismiss="modal" aria-label="Close"><i data-feather="x"></i>
                </button>
                <h3 class="text-center">Re-authenticate</h3>
                <div class="row justify-content-center">
                	<div id="authenticateAlert" class="alert alert-warning col col-lg-10 animated fadeIn" role="alert">
					  This action requires that you recenlty signed in. Please enter your credentials to proceed.
					</div>
					<div class="col col-lg-10">
						<label for="loginEmail">Email Address</label>
						<input type="email" class="form-control form-control-lg" id="loginEmail" aria-describedby="emailHelp" placeholder="jared@piedpiper.com" autocomplete="off">
						<p id="loginEmailError" class="formError"></p>
					</div>
					<div class="col col-lg-10">
					    <label for="loginPassword">Password</i></label>
    					<input type="password" class="form-control form-control-lg" id="loginPassword" placeholder="Password" autocomplete="off">
    					<p id="loginPasswordError" class="formError"></p>
					</div>
					<div id="loginBtnCont" class="col col-lg-10">
					  	<a id="loginBtn" class="btn col col-lg-12" href="#">Log In</a>
					</div>
					<div id="authenticateError" class="alert alert-danger col-lg-10 animated bounceIn" role="alert">
					  <p id="authenticateErrorMsg" class="text-center"></p>
					</div>
                </div>
            </div>
		</div>
	</div>
	<!-- END RE-AUTHENTICATE MODAL -->

	<!-- CHANGE PASSWORD MODAL -->
	<div id="changePasswordModalCont" class="modal fade changePasswordModal changePassword-modal-md" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-backdrop="static">
		<div class="modal-dialog modal-md">
		   	<div id="changePasswordModal" class="modal-content">
                <button id="exitLoginModal" type="button" class="close text-right" data-dismiss="modal" aria-label="Close"><i data-feather="x"></i>
                </button>
                <h3 class="text-center">Change Password</h3>
                <div class="row justify-content-center">
    				<div class="col col-lg-8">
					    <label for="newPassword">New Password</i></label>
    					<input type="password" class="form-control form-control-lg" id="newPassword" placeholder="New password" autocomplete="off">
					</div>
					<div class="col col-lg-8">
					    <label for="confirmPassword">Confirm Password</i></label>
    					<input type="password" class="form-control form-control-lg" id="confirmPassword" placeholder="Confirm password" autocomplete="off">
					</div>
					<div id="changePasswordBtnCont" class="col col-lg-8">
					  	<a id="changePasswordBtn" class="btn col col-lg-12" href="#">Change Password</a>
					</div>
					<div id="changePasswordErrorMessage" class="col col-lg-8 alert alert-danger animated bounceIn" role="alert"></div>
				</div>
            </div>
		</div>
	</div>
	<!-- END CHANGE PASSWORD MODAL -->


	<!-- SNACKBAR -->
	<div id="snackbar"></div>
	<!-- END SNAKCBAR -->
	</section>
</body>
</html>