<!DOCTYPE html>
<html>
<head>
	<title>Team Work App (Name comming)</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link href="https://cdn.quilljs.com/1.2.6/quill.snow.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="styles/animate.css">
	<link rel="stylesheet" type="text/css" href="styles/style.css">
	<link rel="stylesheet" type="text/css" href="styles/dashboard.css">
	<script src="https://www.gstatic.com/firebasejs/4.12.0/firebase.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
	<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://unpkg.com/popper.js/dist/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
	<script src="https://js.pusher.com/4.2/pusher.min.js"></script>
	<script type="text/javascript" src="scripts/dashboard.js"></script>
</head>
<body id="body" class="animated">
	<div id="loadingCover" class="animated">
		<h5 id="loadingSlogan" class="loadingSlogan animated fadeInUp">Counting Stars</h5>
	</div>
	<section id="dashboardSection">
		<nav id="dashNav" class="navbar navbar-expand-lg">
		<div class="collapse navbar-collapse justify-content-left">
			<ul class="navbar-nav">
				<li class="nav-item dropdown">
			        <a id="userAccount" class="nav-link" href="#"  role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			      	</a>
			        <div id="userAccountMenu" class="dropdown-menu dropleft animated" aria-labelledby="userAccount">
			          <a id="newProjectTrigger" class="dropdown-item" href="#"><i data-feather="plus-square"></i> New Project</a>
			          <a id="myProjectsTrigger" class="dropdown-item" href="#"><i data-feather="folder"></i> My Projects</a>
			          <a id="profileTrigger" class="dropdown-item" href="#"><i data-feather="user"></i> Profile</a>
			          <a id="socialTrigger" class="dropdown-item" href="#"><i data-feather="globe"></i> Social</a>
			          <div class="dropdown-divider"></div>
			          <a id="signOut" class="dropdown-item" href="#"><i data-feather="log-out"></i> Sign Out</a>
			        </div>
			    </li>
			</ul>
			<!-- SIDE NAVIGATION -->
			<ul class="navbar-nav ml-auto">
				<li class="nav-item dropdown">
			        <span id="friendRequestsMenuTrigger" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i id="friendRequests" data-feather="users" class="nav-link" href="#"></i><span id="friendRequestNotification"></span></span>
			      	</a>
			        <div id="friendRequestsMenu" class="dropdown-menu friendRequstsMenu dropdown-menu-right animated" aria-labelledby="menu">
			          <p class="dropdown-item">Friend Requests</p>
			          <div class="dropdown-divider"></div>
			          <a id="friendRequestPlaceholder" href="#" class="dropdown-item animated fadeIn">No new friend requests, everything is up to date!</a>
			          <div id="masterRequest" class="pendingFriendRequest">
						<span class="pendingFriendRequestChoices"><span class="acceptFriendRequest"> <i data-feather="user-check"></i> Accept</span> <span class="declineFriendRequest"> <i data-feather="user-x"></i> Decline </span></span>
					  </div>
			        </div>
			    </li>
				<li class="nav-item dropdown">
			        <i id="notification" data-feather="bell" class="nav-link" href="#"  role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i><span id="notificationNotification"></span>
			      	</a>
			        <div id="notificationMenu" class="dropdown-menu dropdown-menu-right animated" aria-labelledby="menu">
			          <span id="removeNotification"><i data-feather="x-square"></i></span>
			          <p class="dropdown-item">Notifications</p>
			          <div class="dropdown-divider"></div>
			          <a id="notificationPlaceholder" href="#" class="dropdown-item animated fadeIn">No new notifications, you are good to go!</a>
			          <a id="notificationsOff" href="#" class="dropdown-item"><i data-feather="bell-off"></i> <span>Turn off notifications</span><span></a>
			        </div>
			    </li>
			    <li><i id="documentation" data-feather="book-open"></i></li>
			</ul>
			<!-- SIDE NAVIGATION END -->
		</div>
	</nav>
	<div class="container">
		<div id="searchCont">	
			<div class="input-group">
		      <div class="input-group-prepend">
		        <span class="input-group-text" id="searchIcon"><i data-feather="search"></i></span>
		      </div>
		      <input id="searchDashboard" class="form-control mr-sm-2" type="search" placeholder="Search..." aria-label="Search">
		    </div>
	    </div>
	  	<div id="mainDashboard">
	  		<div id="dashboardContainer" class="row">

	  			<!-- PROJECT START -->
				<div id="projectMain" class="col-lg-12 animated fadeIn justify-content-center">
					<ul id="profileTabsProject" class="nav nav-tabs">
					  <li class="active"><a id="overviewTrigger" data-toggle="tab" href="#project1">Overview</a></li>
					  <li><a id="gotoProjects" data-toggle="tab" href="#tasks">Tasks & Milestones</a></li>
					  <li><a id="teamsTrigger" data-toggle="tab" href="#teams">Teams</a></li>
					  <li><a id="membersTrigger" data-toggle="tab" href="#members">Members</a></li>
					  <li><a data-toggle="tab" href="#reports">Reports</a></li>
					  <li><a id="timesheetTrigger" data-toggle="tab" href="#timesheet">Timesheet</a></li>
					  <li><a data-toggle="tab" href="#project4">Settings</a></li>
					</ul>

					<div class="tab-content">
					  <div id="project1" class="tab-pane fade in active">
					    <h3>Overview</h3>
					  </div>
					  <div id="tasks" class="tab-pane fade">
					    <h3>Tasks</h3>
					  </div>
					  <div id="reports" class="tab-pane fade">
					    <h3>Reports</h3>
					    <p id="reportIntro">Create reports, papers and documents that both look and feel good.<br> Choose from a wide variery of styling including LaTex, HTML, Microsoft Word or plain text.</p>
					    <div class="dropdown-divider reportDivider"></div>
					    <div id="newReportCont" class="row">
						  <div id="newPreReportCont" class="col-sm-3 offset-sm-1 newCardCont">
						    <div id="newPreReport" class="card text-center newCard">
						      <div class="card-body">
						        <h5 class="card-title newProjectIcon"><i data-feather="file"></i></h5>
						        <p>New Pre-Report</p>
						      </div>
						    </div>
						  </div>
						  <div class="col-sm-3 newCardCont">
						    <div id="newMainReport" class="card text-center newCard">
						      <div class="card-body">
						        <h5 class="card-title newProjectIcon"><i data-feather="book"></i></h5>
						        <p>New Main Report</p>
						      </div>
						    </div>
						  </div>
						  <div class="col-sm-3 offset-sm-1 newCardCont">
						    <div id="newDocument" class="card text-center newCard">
						      <div class="card-body">
						        <h5 class="card-title newProjectIcon"><i data-feather="plus"></i></h5>
						        <p>New Document</p>
						      </div>
						    </div>
						  </div>
						</div>
					  </div>
					  <div id="members" class="tab-pane fade">
					  	<div class="row col-lg-12">
					  		<div id="membersAside" class="col-lg-4"></div>
					  		<div id="membersMain" class="row col-lg-8">
					  			<div id="selectedMemberCont" class="col-lg-5">
					  				<img id="selectedMemberAvatar" alt="project member avatar">
					  				<h3 id="selectedMemberName" class="text-center"></h3>
					  				<p id="selectedMemberMail" class="text-center"></p>
					  				<p class="selectedMemberHomepage text-center"><i data-feather="home"></i> View Profile</p>
					  			</div>
					  			<div id="roleCont" class="col-lg-5 offset-lg-1">
					  				<h5 id="currentRole">Role <span id="roleInfo"><i data-feather="info"></i></span><br><span id="projectRole"></span></h5>
					  				<label class="my-1 mr-2" for="selectRole">Assign Role</label>
									<select class="custom-select my-1 mr-sm-2" id="selectRole">
										<option value="Choose" selected>Choose...</option>
									    <option value="Project Manager">Project Manager</option>
									    <option value="Project Leader">Project Leader</option>
									    <option value="Project Member">Project Member</option>
									    <option value="Project Sponsor">Project Sponsor</option>
									    <option value="Technology Support">Technology Support</option>
									    <option value="Key User">Key User</option>
									    <option value="Application Developer">Application Developer</option>
									    <option value="Business Analyst">Business Analyst</option>
									</select>
									<ul id="roleJobs" class="list-group animated fadeInRight">
									</ul>
									<a id="updateRoleBtn" class="btn disabled col-lg-12">Confirm & Update</a>
					  			</div>
					  		</div>
					  	</div>
					  </div>
					  <div id="teams" class="tab-pane fade">
					  	<h3>Teams</h3>
					    <div id="newTeamMainCont" class="row">
						  <div id="newTeamCont" class="col-sm-4 offset-sm-1 newCardCont">
						    <div id="newTeam" class="card text-center newCard">
						      <div class="card-body">
						        <h5 class="card-title newProjectIcon"><i data-feather="users"></i></h5>
						        <p>New Team</p>
						      </div>
						    </div>
						  </div>
						  <div class="col sm-4">
						  	<h5 id="newTeamIntroHeading">Organize your project</h5>
						  	<p id="teamsIntro">Teams are used to split the project into different groups, allowing for quick and easy task management. By using teams, the project will have a greater overview and a clearer path to achieve its goals. </p>
						  	<div class="dropdown-divider teamsDivider"></div>
						  </div>
						</div>
						<h5 id="projectTeams">Project Teams</h5>
						<div id="teamsCont" class="row"></div>
						<div class="dropdown-divider teamDiv"></div>
					  </div>
					  <div id="timesheet" class="tab-pane fade">
					  	<div id="timesheetAvatars" class="row col-lg-8"></div>
					  	<div class="media col-lg-12">
						  <img id="timesheetAvatar" class="mr-3" src="/img/avatar.png" alt="Generic placeholder image">
						  <div class="media-body">
						    <h5 id="timesheetUsername" class="mt-0 timesheetName">Sander Hellesø</h5>
						    <p>Project Member</p>
						  </div>
						  <div id="commitsData" class="col-lg-3 offset-lg-5">
							<p id="commitsDataInfo"></p>
						</div>
						</div>
					    <div id="timesheetInputCont" class="row col-lg-12 animated fadeIn">
					    	<div class="col-lg-2">
					    		<h5 class="timesheetHeading"><i data-feather="clock"></i> Hours</h5>
								<input type="number" class="form-control" id="timesheetHour" pattern="[0-9]" min="1" max="24" aria-describedby="timesheetHour" placeholder="4" maxlength="3">
					    	</div>
					    	<div class="col-lg-7">
					    		<h5 class="timesheetHeading"><i data-feather="clipboard"></i> Description</h5>
					    		<input type="text" class="form-control" id="timesheetDescription" aria-describedby="timesheetDescription" placeholder="Contacted space station...">
					    	</div>
					    	<div class="col-lg-3">
					    		<h5 class="timesheetHeading"><i data-feather="calendar"></i> Date</h5>
					    		<input type="text" class="form-control" id="timesheetDate" aria-describedby="timesheetDate" placeholder="08.04.2018" readonly="true">
					    	</div>
					    </div>
					    <div id="addTimesheetNoteMainCont" class="row animated fadeIn">
					    	<div id="addTimesheetNoteCont" class="col-lg-2">
					    		<div class="col-lg-12">
					    			<p id="addTimesheetNoteError" class="btn col-lg-12 animated fadeIn"></p>
					    			<a id="addTimesheetNote" class="btn col-lg-12">Add <i data-feather="plus-circle"></i></a>
					    		</div>
					    	</div>
					    </div>
					    <h5 id="entries">Entries</h5>
					    <p id="noEntries" class="animated fadeIn">This user has not commited any entries yet</p>
					    <img id="noEntriesImg" src="/img/project.png" alt="No entries are commited by this user">
					    <div id="mainTimesheetRow" class="row col-lg-12">
					    	<div id="mainTimesheetHour" class="col-lg-2">
					    	</div>
					    	<div id="mainTimesheetDesc" class="col-lg-7">
					    	</div>
					    	<div id="mainTimesheetDate" class="col-lg-3">
					    	</div>
					    </div>
					  </div>
					  <div id="project4" class="tab-pane fade">
					    <h3 id="settingsHeading">Settings</h3>
					  </div>
					</div>
				</div>
	  			<!-- END PROJECT -->
				
				<!-- TEAMS START -->
	  			<div id="teamMain" class="col-lg-12 animated fadeIn justify-content-center">
	  				<div id="teamMainToolbar" class="row col-lg-12">
	  					<div id="backToProjectCont" class="col-lg-1">	  				
	  						<span id="backToProject" class="text-left"><i data-feather="arrow-left-circle"></i></span>
	  					</div>
	  					<div id="teamMembers" class="col-lg-5 offset-lg-5"></div>
	  					<div id="addTeamMember" class="text-center" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i data-feather="plus"></i></div>
	  					<div id="addTeamMembersCont" class="dropdown-menu dropdown-menu-right animated fadeIn" aria-labelledby="dropdownTasks">
	  						<div id="addTeamMembersContMain"></div>
	  						<a id="addTeamMembersBtn" class="dropdown-item text-center animated">Add</a>
					  	</div>
	  				</div>
	  				<h3 id="teamName" class="text-center animated fadeIn"></h3>
	  				<h3 id="missionName" class="text-center animated fadeIn"></h3>
					<ul id="teamTabs" class="nav nav-tabs justify-content-center animated fadeIn">
					  	<li class="active"><a id="conversationsTrigger" data-toggle="tab" href="#teamConversations">Conversations</a></li>
					  	<li class="active"><a id="missionsTrigger" data-toggle="tab" href="#teamMissons">Missions</a></li>
						<li class="active"><a id="calenderTrigger" data-toggle="tab" href="#teamCalender">Calender</a></li>
					</ul>

					<div id="teamTabsContainer" class="tab-content aimated fadeIn">
					  <div id="teamConversations" class="tab-pane fade in">
					  	<div class="row col-lg-12">
					  		<div id="conversationsContainer" class="col-lg-7 offset-lg-1">
					  			<div id="startConversation" class="col-lg-12">
					  				<input id="postConversationTitle" class="form-control col-lg-6" type="text" placeholder="Mission to Mars...">
					  				<input id="postConversationInput" class="form-control col-lg-6" type="text" placeholder="Do we have any ideas for the mission...">
					  				<div id="postConversationCont" class="text-right">
					  					<span id="amountNotifiedConversation"></span>
					  					<a id="postConversationBtn">Post</a>
					  				</div>
					  			</div>
					  			<span id="masterLike"><span class="commentLikes"></span><i data-feather="thumbs-up"></i></span>
					  			<span id="masterComment"><i data-feather="message-circle"></i><span class="linkCommentAmount"></span></span>
					  			<div id="conversationsCont" class="col-lg-12">
					  			</div>
					  		</div>
					  		<div id="conversationSidebar" class="col-lg-3">
					  			<div id="conversationLinks" class="list-group">
								</div>
					  		</div>
					  	</div>
					  </div>

					  <div id="teamMissons" class="tab-pane fade in active">
					  	<div id="missionsContainer" class="row col-lg-12">
					  		<div class="row col-lg-2">
					  			<a id="newMission" class="animated"><i data-feather="plus"></i></a>
					  		</div>
					  		<div id="noMissions" class="col-lg-7 offset-lg-1 text-center animated fadeIn">
					  			<h5>We couldn't find any missions for this team..</h5>
					  			<p id="missionIntro">Get started by clicking the button in the upper left corner</p>
					  			<img src="/img/plane.png" class="col-lg-6">
					  		</div>
					  	</div>
					  </div>
					  <div id="teamCalender" class="tab-pane fade in">
					    <h5>Calender</h5>
					  </div>
					</div>

					<ul id="missionTabs" class="nav nav-tabs justify-content-center animated fadeIn">
						<li class="active"><a id="missionTasksTrigger" data-toggle="tab" href="#missionTasks">Tasks</a></li>
						<li class="active"><a id="missionConversationsTrigger" data-toggle="tab" href="#missioConversations">Conversations</a></li>
						<li class="active"><a id="missionCalenderTrigger" data-toggle="tab" href="#missionCalender">Calender</a></li>
						<li class="active"><a id="missionProgressTrigger" data-toggle="tab" href="#missionProgress">Progress</a></li>
						<li class="active"><a id="missionFilesTrogger" data-toggle="tab" href="#missionFiles">Files</a></li>
					</ul>

					<div id="missionTabsContainer" class="tab-content animated fadeIn">
					  	<div id="missionTasks" class="tab-pane fade in">
					  		<div id="mainTasksRow" class="row col-lg-12">
					  			<div class="col-lg-6">
					  				<a id="addTask" class="text-left">Add Task</a>
					  				<a class=" dropdown-toggle" id="sortTasks" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i data-feather="clipboard"></i> Incomplete Tasks</a>
					  				<div id="sortTasksCont" class="dropdown-menu" aria-labelledby="dropdownTasks">
					  					<p>qweqew</p>
					  				</div>
					  				<div id="tasksDivider" class="dropdown-divider"></div>
					  				<div id="masterTask" class="row col-lg-12 taskCont">
					  					<div class="col-lg-1 taskCompleted"><span class="checkTaskCompleted"><i data-feather="check-circle"></i></span></div>
					  					<div class="col-lg-10">
					  						<input class="form-control taskInput" type="text" placeholder="Create pizza...">
					  					</div>
					  					<div class="col-lg-1 taskImgCont"><img class="taskImg" src="/img/unassigned.png"></div>
					  				</div>
					  				<div id="tasksCont" class="col-lg-12">
					  				</div>
					  			</div>
					  			<div id="taskMenuMain" class="col-lg-6">
					  				<div id="taskMenu" class="row col-lg-12">
					  					<div id="assignTask" class="col-lg-5 unassignedTask" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					  						<img class="taskImgMain" src="/img/unassigned.png">
					  						<p>Unassigned</p>
					  					</div>
					  					<div id="assignTaskCont" class="dropdown-menu" aria-labelledby="dropdownTasks">
					  						<div id="unassignedTaskCont"></div>
					  						<a id="assignTaskBtn" class="dropdown-item text-center animated">Assign Task</a>
					  					</div>
					  					<div id="setTaskDate" class="col-lg-5 taskDueDate">
					  						<span class="taskDueDateIcon"><i data-feather="calendar"></i></span>
					  						<p>Due Date</p>
					  					</div>
					  					<div id="closeTaskCont" class="col-lg-1 offset-lg-1">
					  						<span class="closeTask"><i data-feather="x"></i></span>
					  					</div>
					  					<div id="mainTaskCont" class="col-lg-12">
					  						<h5 id="missionNameTask"></h5>
					  						<span id="checkTaskCompletedMain"><i data-feather="check-circle"></i></span><h3 id="taskNameMain"></h3>
					  						<label id="taskLabel" for="taskDescription">Description</label>
  											<textarea class="form-control" rows="5" id="taskDescription"></textarea>
  											<div id="recentTaskCommitCont" class="col-lg-12">
  												<ul id="missionTaskTabs" class="nav nav-tabs justify-content-center animated fadeIn">
													<li class="active"><a id="missionTasksActivityTrigger" data-toggle="tab" href="#missionTaskActivity">Activity</a></li>
													<li class="active"><a id="missionTaskCommentsTrigger" data-toggle="tab" href="#missionTaskComments">Comments</a></li>
												</ul>
												<div class="tab-content animated fadeIn">
					  								<div id="missionTaskActivity" class="tab-pane fade in">
					  									<span id="masterMapIcon"><i data-feather="map-pin"></i></span>
					  									<span id="masterTimeIcon"><i data-feather="clock"></i></span>
		  												<p id="createdTaskInit"></p>
		  											</div>
		  											<div id="missionTaskComments" class="tab-pane fade in">
		  												<p>Went to store</p>
		  											</div>
		  										</div>
		  									</div>
  											<div id="missionTaskCommentMain" class="row col-lg-12">
  												<div id="missionTaskImgCont" class="col-lg-2">
  													<img id="missionTaskImg" src="/img/pbgit.png">
  												</div>
  												<div id="missionTaskCommentCont" class="col-lg-8">
  													<input id="missionTaskComment" class="form-control" type="text" placeholder="Write a comment...">
  												</div>
  												<div id="postMissionTaskCommentCont" class="col-lg-2">
  													<a id="postMissionTaskComment">POST</a>
  												</div>
  											</div>
					  					</div>
					  				</div>
					  			</div>
					  		</div>
					  	</div>
					  	<div id="missioConversations" class="tab-pane fade in">
					  		<h5>Conversations</h5>
					  	</div>
						<div id="missionCalender" class="tab-pane fade in">
					  		<h5>Calender</h5>
					  	</div>
					  	<div id="missionProgress" class="tab-pane fade in active">
					  		<h5>Progress</h5>
					  	</div>
					  	<div id="missionFiles" class="tab-pane fade in">
					    	<h5>Files</h5>
					  	</div>
					</div>
				</div>

				<!-- END TEAMS -->

	  			<!-- SOCIAL START -->
	  			<div id="socialMain" class="col col-lg-9 animated">
	  				<ul id="socialToolbar">
	  					<li><span id="addFriend"><i data-feather="user-plus"></i> Add Friend</li></span>
	  					<li><span><i data-feather="activity"></i> Recent Activities</li></span>
	  				</ul>
	  				<div id="socialiconCont" class="row justify-content-center">
	  					<img id="socialicon" src="/img/socialicon.png" class="img-fluid col col-lg-6 animated fadeIn"" alt="Social page icon">
	  				</div>
	  				<div id="chatCont" class="row justify-content-center">
	  					<div class="row">
						  <div id="chat" class="col-10 offset-lg-1">
						  	<div id="mainChatCont">
						  		<div id="chatHeader">
						  			<h4 id="chatHeaderName">Sander Hellesø</h4>
						  			<p id="lastActive" class="text-center">Active now</p>
						  		</div>
							  	<h5 id="chattingWith" class="text-center">Now chatting with Sander</h5>
		  						<div id="chatAvatarCont" class="col col-lg-4 offset-lg-4">
		  							<img id="chatAvatar" src="/img/avatar.png" alt="chat avatar" class="col-lg-4 offset-lg-4">
		  						</div>
		  						<div id="chatMain">

		  						</div>
		  					</div>
	  						<div id="chatPanel" class="row justify-content-center">
	  							<input id="writeChatMessage" class="form-control mr-sm-2 col-lg-8 input-sm" type="search" placeholder="Write a message...">
	  							<div id="chatOptions" class="col-lg-2 text-center">
	  								<span id="emojis"><i data-feather="slack"></i></span>
	  								<span id="colorTheme"><i data-feather="droplet"></i></span>
	  							</div>
	  							<div id="sendChatCont" class="col-lg-1">
	  								<span id="sendChatMessage" class="text-center">Send</span>
	  							</div>
	  						</div>
						  </div>
						</div>
	  				</div>
	  				<div id="addFriendCont" class="row justify-content-center animated fadeIn">
	  					<div id="searchNewFriendCont" class="col col-lg-12">
	  						<h4 class="text-center">Lets find you a new friend</h4>
	  						<p class="text-center">search for email address or full name</p>
	  						<div>
								<div class="input-group col-lg-8 offset-lg-2">
							      <div class="input-group-prepend">
							        <span id="addFriendSearchIcon" class="input-group-text"><i data-feather="search"></i></span>
							      </div>
							      <input id="addFriendSearch" class="form-control mr-sm-2" type="search" placeholder="nelsonbighetti@piedpiper.com" aria-label="Search">
							    </div>
						    </div>
						    <div class="row justify-content-center col col-lg-4 offset-lg-4">
						    	<h5 id="searchNewFriend" class="text-center col col-lg-10 animated fadeIn">Search <i data-feather="send"></i></h5>
						    </div>
						    <div id="searchNewFriendError" class="col col-lg-8 offset-lg-2 alert alert-danger animated bounceIn" role="alert"></div>
						    <div id="searchNewFriendSuccess" class="col col-lg-8 offset-lg-2 alert alert-success animated fadeIn" role="alert">
							</div>
							<!-- SEARCH REULTS -->
							<div id="masterResult" class=" col col-lg-12 text-center">
								<span><span class="sendFriendRequest"><i data-feather="user-plus"></i></span> <span class="sendFriendMail"><i data-feather="mail"></i></span></span>
							</div>
							<div id="searchResults" class="row searchResults">
							</div>
	  					</div>
	  				</div>
	  			</div>
	  			<div id="socialAside" class="col col-lg-3 animated fadeIn">
	  				<div id="friendsListHeadingCont" class="list-group">
	  					<a href="#" class="list-group-item list-group-item-action flex-column align-items-start friendsListHeading">
					    <div class="d-flex w-100 justify-content-between">
					      <h5 class="mb-1 friendContHeading">Friends<br><span id="amountOnline">5 online</span></h5>
					      <small class="friendOptions"><small id="toggleSearch"><i id="searchFriends" data-feather="search"></i></small><span id="toggleMode" data-toggle="tooltip" data-placement="top"><i id="onlineStatusIcon" data-feather="eye"></i><i id="onlineStatusIcon2" data-feather="eye-off"></i></span>
					      </small>
					    </div>
					  </a>
					  <input id="filterFriends" class="form-control animated" type="search" placeholder="Search for friend..." aria-label="Search">
					</div>
					<div id="friendsListCont" class="list-group">
					    <small id="masterOnlineIcon" class="online"><i data-feather="circle"></i></small>
					    <small id="masterFriendOption" class="friendOptions"><i data-feather="mail"></i> <i data-feather="message-circle"></i> <i class="friendSettings" data-feather="settings"></i></small>
					</div>
	  			</div>
	  			<!-- END SOCIAL -->

	  			<!-- PROFILE -->
	  			<div id="profileCont" class="col col-lg-3">
	  				<img id="profileImg" class="animated fadeIn" src="/img/avatar.png" alt="Avatar Image"  data-toggle="tooltip" data-placement="top" title="Change your avatar">
	  				<input type="file" id="avatarUpload">
	  				<h5 id="profileHeading">Sander Hellesø</h5>
	  				<p id="profileMail">sanderlade@hotmail.com</p>
	  				<p id="profileLocation"><i data-feather="map-pin"></i> Ålesund, Norway</p>
	  				<p id="profileJoined"><i data-feather="clock"></i> Joined 22.03.2018</p>
	  				<div class="dropdown-divider profileDivider"></div>
	  				<p id="connect">My Social Medias</p>
	  				<a id="profileGithub" class="socialMediaLink animated fadeIn" target="_blank"><i data-feather="github"></i> GitHub</a>
	  				<a id="profileLinkedin" class="socialMediaLink animated fadeIn" target="_blank"><i data-feather="linkedin"></i> Linekdin</a>
	  				<a id="profileInstagram" class="socialMediaLink animated fadeIn" target="_blank"><i data-feather="instagram"></i> Instagram</a>
	  				<a id="profileFacebook" class="socialMediaLink animated fadeIn" target="_blank"><i data-feather="facebook"></i> Facebook</a>
	  				<a id="profileTwitter" class="socialMediaLink animated fadeIn" target="_blank"><i data-feather="twitter"></i> Twitter</a>
	  			</div>
	  			<div id="mainProfile" class="col col-lg-8">
	  				<ul id="profileTabs" class="nav nav-tabs">
					  <li class="active"><a id="overviewTrigger" data-toggle="tab" href="#home">Overview</a></li>
					  <li><a id="gotoProjects" data-toggle="tab" href="#projectsMenu">Projects</a></li>
					  <li><a data-toggle="tab" href="#menu2">Friends</a></li>
					  <li><a data-toggle="tab" href="#menu3">Settings</a></li>
					</ul>

					<div class="tab-content">
					  <div id="home" class="tab-pane fade in active">
					    <h3>Overview</h3>
					    <p>Some content.</p>
					  </div>
					  <div id="projectsMenu" class="tab-pane fade">
					    <h3>Projects</h3>
					    <p id="noProjects">You have no active projects</p>
					    <div class="row">
						  <div class="col-sm-6">
						    <div id="newProject" class="card text-center">
						      <div class="card-body">
						        <h5 id="newProjectIcon" class="card-title newProjectIcon"><i data-feather="plus"></i></h5>
						        <p>New Project</p>
						      </div>
						    </div>
						  </div>
						  <div class="col-sm-6">
						  	<div id="projectIntro">
						  		<p id="projectIntroHeading">Get started with a new project in less than a minute</p>
						  		<p id="projectIntroDesc">Choose a name, description and select project members, and we will setup the project for you.</p>
						  	</div>
						  </div>
						</div>
						<h5 id="myProjects">My projects</h5>
						<div id="projectDivider" class="dropdown-divider"></div>
						<div id="projectsCont" class="row"></div>
					  </div>
					  <div id="menu2" class="tab-pane fade">
					    <h3 id="friendsHeading">Friends</h3>
					      <div id="noFriendsRow" class="row">
					      	<p id="nofriendsIntro">Looks like you have no friends yet</p>
					     	<div class="row col col-lg-4 offset-lg-5">
					     		<img id="noFriendsImg" src="/img/nofriends.png" alt="you have no friends yet">
					     	</div>
					      </div>
						  <div id="profileFriendsRow" class="row"></div>
					  </div>
					  <div id="menu3" class="tab-pane fade">
					    <h3 id="settingsHeading">Settings</h3>
							<div class="form-group">
							  <label for="comment">Add a short bio to show the community what you are all about!</label>
							  <textarea id="bioTextarea" class="form-control settingsInput" rows="4" placeholder="Tell us a little bit about yourself"></textarea>
							</div> 
							<div class="row">
						    <div class="col col-lg-6">
						    	<label for="firstNameProfile">First Name</label>
						      	<input id="firstNameProfile" type="text" class="form-control formInput settingsInput" placeholder="Jared" autocomplete="off">
						    </div>
						    <div class="col col-lg-6">
						    	<label for="lastNameProfile">Last Name</label>
						     	<input id="lastNameProfile" type="text" class="form-control formInput settingsInput" placeholder="Dunn" autocomplete="off">
						    </div>
						  	</div>
						 	<div class="row">
							  <div class="col col-lg-6">
							    	<label for="emailProfile">Email</label>
							      	<input id="emailProfile" type="email" class="form-control formInput settingsInput" class="form-control formInput" aria-describedby="emailProfile" placeholder="jared@piedpiper.com" autocomplete="off">
							      	<p id="emailNote">Email change requires recent sign in</p>
							    </div>
							    <div class="col col-lg-6">
							    	<a id="changeProfilePassword" class="btn col col-lg-12" href="#">Change Password</a>
							    	<p id="passwordNote">Password change requires recent sign in</p>
							    </div>
							</div>
							<div id="updateProfileCont" class="row text-center">
							  <div id="cancelProfileUpdateCont" class="col col-lg-2 text-center">
							    <a id="cancelProfileUpdate" href="#" class="col col-lg-8 text-center">Cancel</a>
							  </div>
							  <div id="confirmProfileUpdateCont" class="col col-lg-2 text-center">
							    <a id="confirmProfileUpdate" href="#" class="col col-lg-8 text-center">Confirm</a>
							  </div>
							</div>
							<div class="dropdown-divider"></div>
							<h3 id="socialMediaHeading" class="text-left">Social Media</h3>
							<p id="socialMediaIntro">Add social medias to your profile and expand your connections</p>
							<div class="row">
							  <div class="col-8">
							    <input id="githubURL" type="text" class="form-control formInput settingsInput" class="form-control formInput" aria-describedby="githubURL" placeholder="github.com/myusername" autocomplete="off">
							    <p class="socialMediaError"></p>
							  </div>
							  <div class="col-4 text-center"><p id="addGithubURL" class="text-center"><i data-feather="github"></i> Add GitHub</p><span class="text-center removeSocialMedia">Remove GitHub</span></div>
							</div>
						  	<div class="row">
							  <div class="col-8">
							    <input id="linkedinURL" type="text" class="form-control formInput settingsInput" class="form-control formInput" aria-describedby="linkedinURL" placeholder="linkedin.com/in/myusername" autocomplete="off">
							    <p class="socialMediaError"></p>
							  </div>
							  <div class="col-4 text-center"><p id="addLinkedinURL" class="text-center"><i data-feather="linkedin"></i> Add LinkedIn</p><span class="text-center removeSocialMedia">Remove LinkedIn</span></div>
							</div>
							<div class="row">
							  <div class="col-8">
							    <input id="instagramURL" type="text" class="form-control formInput settingsInput" class="form-control formInput" aria-describedby="instagramURL" placeholder="instagram.com/myusername" autocomplete="off">
							    <p class="socialMediaError"></p>
							  </div>
							  <div class="col-4 text-center"><p id="addInstagramURL" class="text-center"><i data-feather="instagram"></i> Add Instagram</p><span class="text-center removeSocialMedia">Remove Instagram</span></div>
							</div>
							<div class="row">
							  <div class="col-8">
							    <input id="facebookURL" type="text" class="form-control formInput settingsInput" class="form-control formInput" aria-describedby="facebookURL" placeholder="facebook.com/myusername" autocomplete="off">
							    <p class="socialMediaError"></p>
							  </div>
							  <div class="col-4 text-center"><p id="addFacebookURL" class="text-center"><i data-feather="facebook"></i> Add Facebook</p><span class="text-center removeSocialMedia">Remove Facebook</span></div>
							</div>
							<div class="row">
							  <div class="col-8">
							    <input id="twitterURL" type="text" class="form-control formInput settingsInput" class="form-control formInput" aria-describedby="twitterURL" placeholder="twitter.com/myusername" autocomplete="off">
							    <p class="socialMediaError"></p>
							  </div>
							  <div class="col-4 text-center"><p id="addTwitterURL" class="text-center"><i data-feather="twitter"></i> Add Twitter</p><span class="text-center removeSocialMedia">Remove Twitter</span></div>
							</div>
							<div class="dropdown-divider"></div>
							<div id="blockedUsersRow" class="row animated fadeIn">
								<h5 class="col-12">Blocked Users</h5>
								<p id="toggleBlockedUsers" class="col-12">Show</p>
							</div>
						</div>
					  </div>
					</div>
	  			</div>

	  			<!-- END PROFILE -->
	  		</div>
	  	</div>
	</div>
	<!-- PROFILE MODAL -->
	<div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  		<div class="modal-dialog" role="document">
		   <div id="profileModalCont" class="modal-content animated">
		      <div id="exitProfileModal"><span id="profileModalSettings" class="text-left" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i data-feather="settings"></i>
			      <div id="profileModalSettingsMenu" class="dropdown-menu dropdown-menu-right animated" aria-labelledby="menu">
				    <h5 id="profileModalSettingsHeading" class="dropdown-item"></h5>
				        <div class="dropdown-divider"></div>
				        <p id="unfriendUser" class="dropdown-item">Unfriend</p>
				        <p id="unfriendLabel" class="dropdown-item"></p>
				        <span id="confirmUnfriendCont" class="dropdown-item animated fadeIn"><span id="cancelUnfriend">Cancel</span> <span id="confirmUnfriend">Unfriend</span></span>
				        <div id="unfriendDivider" class="dropdown-divider"></div>
				        <p id="reportUser" class="dropdown-item" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Report</p>
				        <div id="reportReasonCont" class="animated fadeIn">
					        <label id="reportReasonLabel" for="reportReason" class="dropdown-item">Why do you want to report Sander?</label>
						    <select multiple class="form-control dropdown-item" id="reportReason">
						      <option>This person bothers me</option>
						      <option>This is a fake account</option>
						      <option>The person is using a name they dont use daily</option>
						      <option>This account is representing a company or organization</option>
						    </select>
						    <span id="confirmReportCont" class="dropdown-item"><span id="cancelReport">Cancel</span> <span id="confirmReport">Report</span></span>
						</div>
					    <div class="dropdown-divider"></div>
				        <p id="blockUser" class="dropdown-item">Block</p>
				        <div id="blockCont" class="animated fadeIn">
				        	<p id="blockLabel" class="dropdown-item"></p>
				        	<span id="confirmBlockCont" class="dropdown-item animated fadeIn"><span id="cancelBlock">Cancel</span> <span id="confirmBlock">Block</span></span>
				        </div>
				   </div>
			   	   </span><span class="close text-right" data-dismiss="modal" aria-label="Close"><i data-feather="x"></i></span>
               	  </div>
                <div id="coverImg">
                	<div class="row justify-content-center">
                		<img id="profileModalAvatar" src="/img/avatar.png">
                	</div>
	            </div>
                <h3 id="profileModalName" class="text-center"></h3>
                <h5 id="profileModalEmail" class="text-center"></h5>
                <span id="profileModalCommunication" class="text-center"><span id="modalEmail"><i data-feather="mail"></i></span> <span id="modalChat"><i data-feather="message-circle"></i></span></span>
                <p id="profileModalBio" class="text-center"></p>
                <p id="profileModalLocation" class="text-center"><i data-feather="map-pin"></i> Ålesund, Norway</p>
	  			<p id="profileModalJoined" class="text-center"><i data-feather="clock"></i> Joined 22.03.2018</p>

	  			<span class="pendingFriendRequestChoicesProfile text-center"><span class="acceptFriendRequestProfile"> <i data-feather="user-check"></i> Accept</span> <span class="declineFriendRequestProfile"> <i data-feather="user-x"></i> Decline </span></span>

	  			<div class="dropdown-divider"></div>
				<h5 id="profileModalFriendsHeading" class="text-left"><i data-feather="users"></i> Friends<br> <span id="commonFriends"></span></h5>
				<p id="foreverAlone" class="text-left">This user have no friends</p>
				<div id="profileModalFriendsRow" class="row justify-content-center"></div>
				<div class="dropdown-divider"></div>
				<h5 id="connectWithProfileHeading" class="text-left"><i data-feather="globe"></i> Connect with <span id="connectUser"></span></h5>
				<div id="connectWithProfileRow">
					<p id="noConnections">No social media links is connected to this account</p>
					<a id="profileGithubModal" class="socialMediaLink animated fadeIn" target="_blank"><i data-feather="github"></i> GitHub</a>
	  				<a id="profileLinkedinModal" class="socialMediaLink animated fadeIn" target="_blank"><i data-feather="linkedin"></i> Linekdin</a>
	  				<a id="profileInstagramModal" class="socialMediaLink animated fadeIn" target="_blank"><i data-feather="instagram"></i> Instagram</a>
	  				<a id="profileFacebookModal" class="socialMediaLink animated fadeIn" target="_blank"><i data-feather="facebook"></i> Facebook</a>
	  				<a id="profileTwitterModal" class="socialMediaLink animated fadeIn" target="_blank"><i data-feather="twitter"></i> Twitter</a>
				</div>
				<div class="dropdown-divider"></div>
		    </div>
		</div>
	</div>
	<!-- END PROFILE MODAL -->

	<!-- RE-AUTHENTICATE MODAL-->
	<div id="authenticateModalCont" class="modal fade authenticateModal authenticate-modal-md" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-backdrop="static">
		<div class="modal-dialog modal-md">
		   	<div id="authenticateModal" class="modal-content">
                <button id="exitLoginModal" type="button" class="close text-right" data-dismiss="modal" aria-label="Close"><i data-feather="x"></i>
                </button>
                <h3 class="text-center">Re-authenticate</h3>
                <div class="row justify-content-center">
                	<div id="authenticateAlert" class="alert alert-warning col col-lg-10 animated fadeIn" role="alert">
					  This action requires that you recenlty signed in. Please enter your credentials to proceed.
					</div>
					<div class="col col-lg-10">
						<label for="loginEmail">Email Address</label>
						<input type="email" class="form-control form-control-lg" id="loginEmail" aria-describedby="emailHelp" placeholder="jared@piedpiper.com" autocomplete="off">
						<p id="loginEmailError" class="formError"></p>
					</div>
					<div class="col col-lg-10">
					    <label for="loginPassword">Password</i></label>
    					<input type="password" class="form-control form-control-lg" id="loginPassword" placeholder="Password" autocomplete="off">
    					<p id="loginPasswordError" class="formError"></p>
					</div>
					<div id="loginBtnCont" class="col col-lg-10">
					  	<a id="loginBtn" class="btn col col-lg-12" href="#">Log In</a>
					</div>
					<div id="authenticateError" class="alert alert-danger col-lg-10 animated bounceIn" role="alert">
					  <p id="authenticateErrorMsg" class="text-center"></p>
					</div>
                </div>
            </div>
		</div>
	</div>
	<!-- END RE-AUTHENTICATE MODAL -->

	<!-- CHANGE PASSWORD MODAL -->
	<div id="changePasswordModalCont" class="modal fade changePasswordModal changePassword-modal-md" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-backdrop="static">
		<div class="modal-dialog modal-md">
		   	<div id="changePasswordModal" class="modal-content">
                <button id="exitLoginModal" type="button" class="close text-right" data-dismiss="modal" aria-label="Close"><i data-feather="x"></i>
                </button>
                <h3 class="text-center">Change Password</h3>
                <div class="row justify-content-center">
    				<div class="col col-lg-8">
					    <label for="newPassword">New Password</i></label>
    					<input type="password" class="form-control form-control-lg" id="newPassword" placeholder="New password" autocomplete="off">
					</div>
					<div class="col col-lg-8">
					    <label for="confirmPassword">Confirm Password</i></label>
    					<input type="password" class="form-control form-control-lg" id="confirmPassword" placeholder="Confirm password" autocomplete="off">
					</div>
					<div id="changePasswordBtnCont" class="col col-lg-8">
					  	<a id="changePasswordBtn" class="btn col col-lg-12" href="#">Change Password</a>
					</div>
					<div id="changePasswordErrorMessage" class="col col-lg-8 alert alert-danger animated bounceIn" role="alert"></div>
				</div>
            </div>
		</div>
	</div>
	<!-- END CHANGE PASSWORD MODAL -->
	
	<!-- COLOR THEME MODAL -->
	<div id="themeModal" class="modal fade colorModal modal-md" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-md">
		   	<div id="changeThemeModal" class="modal-content">
                <button id="exitLoginModal" type="button" class="close text-right" data-dismiss="modal" aria-label="Close"><i data-feather="x"></i>
                </button>
                <h3 class="text-center">Change Theme</h3>
                <p class="text-center">Spice your chat up with some fancy colors!</p>
                <div id="colorDiv" class="row justify-content-center"></div>
            </div>
		</div>
	</div>
	<!-- END COLOR THEME MODAL -->

	<!-- EMAIL MODAL -->
	<div id="emailModal" class="modal fade emailModal modal-md" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-md">
		   	<div id="sendEmailModal" class="modal-content">
                <button id="exitLoginModal" type="button" class="close text-right" data-dismiss="modal" aria-label="Close"><i data-feather="x"></i>
                </button>
                <iframe id="iframe" name="hidden"></iframe>
                <form id="emailForm" action="/dashboard" method="post" target="hidden">
	                <div class="row justify-content-center">
						<img id="emailAvatar" src="/img/avatar.png" alt="profile avatar">
		            </div>
	                <h3 id="sendEmailName" class="text-center"></h3>
	                <div id="emailDiv" class="row justify-content-center">
	    				<input type="email" class="form-control col col-lg-10" id="sendEmailAddress" name="toAddress" readonly>
	    				<input type="text" class="form-control col col-lg-10" id="fromEmailAddress" name="fromAddress">
					</div>
					<div id="emailSubject" class="row justify-content-center">
	    				<input type="text" class="form-control col col-lg-10" id="sendEmailSubject" name="emailSubject" placeholder="Subject" autocomplete="off">
					</div>
					<div id="emailContentDiv" class="row justify-content-center">
	    				<textarea class="form-control col col-lg-10" id="sendEmailContent" name="emailContent" rows="3" autocomplete="off"></textarea>
					</div>
					<div id="sendEmailBtnCont" class="row justify-content-center">
						<button id="sendEmailBtn" class="btn col col-lg-10" type="submit" href="#">SEND EMAIL</button>
					</div>
				</form>
            </div>
		</div>
	</div>
	<!-- End EMAIL MODAL -->

	<!-- NEW PROJECT MODAL -->
	<div id="newProjectModal" class="modal fade newProjectModal modal-md" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-backdrop="static">
		<div class="modal-dialog modal-md">
		   	<div id="newProjectModalCont" class="modal-content">
                <button id="exitLoginModal" type="button" class="close text-right" data-dismiss="modal" aria-label="Close"><i data-feather="x"></i>
                </button>
                <h3 class="text-center">New Project</h3>
                <div id="newProjectCont" class="row col-lg-10 offset-lg-1">
                	<p class="text-left newProjectLabel">Project name</p>
	    			<input type="text" class="form-control newProjectInput col col-lg-12" id="newProjectName" name="newProjectName" placeholder="Find water on Mars" autocomplete="off">
	    			<p id="projectNameError"></p>
                </div>
                <div class="row col-lg-10 offset-lg-1">
                	<p class="newProjectLabel">Project ID</p>
                	<p id="newProjectId" class="col-lg-12"></p>
                </div>
                <div class="row col-lg-10 offset-lg-1">
                	<p class="newProjectLabel">Project description</p>
	    			<textarea class="form-control newProjectInput col col-lg-12" id="newProjectDesc" name="newProjectDesc" rows="3" autocomplete="off" placeholder="Write a short description about the project..."></textarea>
	    			<p id="projectDescError"></p>
				</div>
				<div class="row col-lg-10 offset-lg-1">
					<p class="newProjectLabel col-lg-12">Select friends to join project</p>
					<input type="text" class="form-control newProjectInput col col-lg-12" id="newProjectSearch" name="newProjectSearch" placeholder="Search for a friend..." autocomplete="off">
				</div>
				<div id="newProjectFriends" class="row col-lg-10 offset-lg-1">
				</div>
                <div class="modal-footer">
                	<button type="button" id="cancelProject" class="btn" data-dismiss="modal">CANCEL</button>
		        	<button type="button" id="createProject" class="btn">CREATE PROJECT</button>
		    	</div>
            </div>
		</div>
	</div>
	<!-- END NEW PROJECT MODAL -->

	<!-- NEW PRE-REPORT MODAL -->
	<div id="newPreReportModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-backdrop="static">
		<div class="modal-dialog modal-lg newPreReportModal">
		   	<div id="newPreReportModalCont" class="modal-content newPreReportModalContent">
                <button id="exitPreReportModal" type="button" class="close text-right" data-dismiss="modal" aria-label="Close"><i data-feather="x"></i>
                </button>
                <div id="newPreReportEditorRow" class="row">
                	<div class="col-lg-8 offset-lg-2">
                		<div class="row">
                			<div class="col-lg-6"><h3 id="newPreReportHeading">Pre-Report<br><span id="newPreReportName"></span></h3></div>
                			<div id="preReportLiveMembers" class="col-lg-6 pull-right"></div>
                		</div>
                		<div id="tempComt"></div>
                		<div id="newPreReportEditor">
                		<div id="toolbar"></div>
                	</div>
                </div>
                <div id="wordCount">
                	<p id="words"></p>
                	<span id="userWordCount"></span>
                </div>
                </div>
            </div>
		</div>
	</div>
	<!-- END NEW PRE-REPORT MODAL -->
	
	<!-- NEW TEAM MODAL -->
	<div id="newTeamModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-backdrop="static">
		<div class="modal-dialog modal-lg newTeamModal">
		   	<div id="newTeamModalCont" class="modal-content newTeamModalContent">
               	<button id="exitLoginModal" type="button" class="close text-right" data-dismiss="modal" aria-label="Close"><i data-feather="x"></i>
                </button>
                <h2 id="newTeamHeading" class="text-center">New Team</h2>
                <h5 id="newTeamIntro" class="text-center">Select the teams topic</h5>
                <div id="selectedTopicCont" class="row justify-content-center animated">
                	<div class="col-lg-3">
                		<div id="administration" class="card teamCard">
						  <img class="card-img-top" src="/img/administration.jpg" alt="Card image cap">
						  <div class="card-body administration-body">
						    <h5 class="text-center">Administration</h5>
						  </div>
						</div>
                	</div>
                	<div class="col-lg-3">
                		<div id="engineering" class="card teamCard">
						  <img class="card-img-top" src="/img/engineering.jpg" alt="Card image cap">
						  <div class="card-body engineering-body">
						    <h5 class="text-center">Engineering</h5>
						  </div>
						</div>
                	</div>
                	<div class="col-lg-3">
                		<div id="marketing" class="card teamCard">
						  <img class="card-img-top" src="/img/marketing.jpg" alt="Card image cap">
						  <div class="card-body marketing-body">
						    <h5 class="text-center">Marketing</h5>
						  </div>
						</div>
                	</div>
                	<div class="col-lg-3">
                		<div id="finances" class="card teamCard">
						  <img class="card-img-top" src="/img/finances.jpg" alt="Card image cap">
						  <div class="card-body finances-body">
						    <h5 class="text-center">Finances</h5>
						  </div>
						</div>
                	</div>
                	<div class="col-lg-3">
                		<div id="design" class="card teamCard">
						  <img class="card-img-top" src="/img/design.jpg" alt="Card image cap">
						  <div class="card-body design-body">
						    <h5 class="text-center">Design</h5>
						  </div>
						</div>
                	</div>
                	<div class="col-lg-3">
                		<div id="operations" class="card teamCard">
						  <img class="card-img-top" src="/img/operations.jpg" alt="Card image cap">
						  <div class="card-body operations-body">
						    <h5 class="text-center">Operations</h5>
						  </div>
						</div>
                	</div>
                	<div class="col-lg-3">
                		<div id="hr" class="card teamCard">
						  <img class="card-img-top" src="/img/hr.jpg" alt="Card image cap">
						  <div class="card-body hr-body">
						    <h5 class="text-center">HR</h5>
						  </div>
						</div>
                	</div>
                	<div class="col-lg-3">
                		<div id="it" class="card teamCard">
						  <img class="card-img-top" src="/img/it.jpg" alt="Card image cap">
						  <div class="card-body it-body">
						    <h5 class="text-center">IT</h5>
						  </div>
						</div>
                	</div>
                	<div class="col-lg-3">
                		<div id="product" class="card teamCard">
						  <img class="card-img-top" src="/img/product.jpg" alt="Card image cap">
						  <div class="card-body product-body">
						    <h5 class="text-center">Product</h5>
						  </div>
						</div>
                	</div>
                	<div class="col-lg-3">
                		<div id="sales" class="card teamCard">
						  <img class="card-img-top" src="/img/sales.jpg" alt="Card image cap">
						  <div class="card-body sales-body">
						    <h5 class="text-center">Sales</h5>
						  </div>
						</div>
                	</div>
                	<div class="col-lg-3">
                		<div id="support" class="card teamCard">
						  <img class="card-img-top" src="/img/support.jpg" alt="Card image cap">
						  <div class="card-body support-body">
						    <h5 class="text-center">Support</h5>
						  </div>
						</div>
                	</div>
				</div>
				<div id="newTeamMembers" class="row col-lg-10 offset-lg-1"></div>
				<div id="newTeamFooter" class="modal-footer">
					<p id="selectTeamMembers" class="text-left animated fadeInDown">Select team members <i data-feather="arrow-right"></i></p>
		        	<button type="button" id="cancelTeam" class="btn" data-dismiss="modal">CANCEL</button>
					<button type="button" id="createTeam" class="btn disabled">CREATE TEAM</button>
				</div>
			</div>
		</div>
	</div>
	<!-- END NEW TEAM MODAL -->

	<!-- NEW MISSION MODAL -->
	<div id="newMissionModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-backdrop="static">
		<div class="modal-dialog modal-md newTeamModal">
		   	<div id="newMissionModalCont" class="modal-content newMissionModalContent">
               	<button id="exitLoginModal" type="button" class="close text-right" data-dismiss="modal" aria-label="Close"><i data-feather="x"></i>
                </button>
                <h2 class="text-center">New Mission</h2>
                <div class="row col-lg-10 offset-lg-1 newMissionCont">
                	<p class="text-left newMissionLabel">Mission name</p>
	    			<input type="text" class="form-control newMissionInput col col-lg-12" id="newMissionName" name="newMissionName" placeholder="Find a working space shuttle..." autocomplete="off">
	    			<p id="missionNameError" class="newMissionError"></p>
                </div>
                <div class="row col-lg-10 offset-lg-1 newMissionCont">
                	<p class="newMissionLabel">Description</p>
	    			<textarea class="form-control newMissionInput col col-lg-12" id="newMissionDesc" name="newMissionDesc" rows="3" autocomplete="off" placeholder="Try to browse ebay..." resize="false"></textarea>
	    			<p id="missionDescError" class="newMissionError"></p>
				</div>
				<div class="row col-lg-10 offset-lg-1">
					<p class="newMissionLabel col-lg-12">Privacy</p>
					<div class="form-check form-check-inline col-lg-12">
					<input class="form-check-input" type="radio" name="inlineRadioOptions" id="public" value="public">
					<label class="form-check-label" for="public"><i data-feather="share-2"></i> Share with <a class=" dropdown-toggle" id="dropdownTeams" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
					  <div id="shareWithTeam" class="dropdown-menu" aria-labelledby="dropdownTeams">
					  </div></label>
					</div>
					<span class="formLabel">People with access to the shared team can join this mission</span>
					<div class="form-check form-check-inline">
					<input class="form-check-input" type="radio" name="inlineRadioOptions" id="private" value="private">
					<label class="form-check-label" for="private"><i data-feather="lock"></i> Private</label>
					</div>
					<span class="formLabel">Only selected members within the team will be able to access the mission</span>
				</div>
				<p id="missionOptionError" class="newMissionError col-lg-10 offset-lg-1"></p>
   				<div id="newMissionFooter" class="modal-footer">
		        	<button type="button" id="cancelTeam" class="btn" data-dismiss="modal">CANCEL</button>
					<button type="button" id="createMission" class="btn">CREATE MISSION</button>
				</div>
			</div>
		</div>
	</div>
	<!-- END NEW MISSION MODAL -->

	<!-- SNACKBAR -->
	<div id="snackbar"></div>
	<!-- END SNAKCBAR -->
	</section>
</body>
</html>