::-webkit-scrollbar {
    width: 0px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

#dashNav {
	background-color: #e8eaf6;
	padding-bottom: 0;
}

#dashboardSection {
	background-color: #e8eaf6;
	height: 100vh;
	z-index: 10;
}

#userAccount {
	border-radius: 4px;
	color: #5c6bc0;
	transition: all 0.3s;
	margin-top: 1.5vh;
}

#friendRequests {
	margin-top: 1.5vh;
	margin-right: 1vw;
	height: 40px;
	width: 40px;
	stroke: #8c9eff;
	transition: all 0.3s;
}

#notification {
	margin-top: 1.5vh;
	margin-right: 1vw;
	height: 40px;
	width: 40px;
	stroke: #8c9eff;
	transition: all 0.3s;
}

#documentation {
	margin-top: 1.5vh;
	margin-right: 2vw;
	height: 40px;
	width: 40px;
	stroke: #8c9eff;
	transition: all 0.3s;
	padding: 8px;
}

#notification:hover, #documentation:hover, #friendRequests:hover {
	cursor: pointer;
}


#userAccount:focus {
	background-color: #8c9eff;
	color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#userAccount .feather {
	width: 15px; 
	height: 15px; 
	stroke: currentColor; 
	stroke-width: 2; 
	stroke-linecap: round; 
	stroke-linejoin: round; 
	fill: none;
	opacity: 0.8;
}

#userAvatar {
    vertical-align: middle;
    width: 27.5px;
    height: 27.5px;
    border-radius: 50%;
    margin-top: -5px;
    margin-right: 5px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19);
}

#userAccountMenu {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding-left: 5px;
	padding-right: 5px;
	margin-top: 1vh;
}

.dropdown-item .feather {
	width: 20px; 
	height: 20px; 
	stroke: #8c9eff; 
	stroke-width: 2; 
	stroke-linecap: round; 
	stroke-linejoin: round; 
	fill: none;
	float: left;
	margin-top: 2.5px;
	margin-right: 10px;
	text-shadow: 2px 2px 4px #000000;
}

.dropdown-item {
	padding-bottom: 10px;
	padding-top: 10px;
}

.dropdown-item:hover {
	color: #8c9eff;
	background-color: white;
}

#signOut {
	border-bottom: 0;
	padding-bottom: 5px;
	padding-top: 5px;
}

#newProject {
	padding-top: 5px;
}

.container {
	height: 80vh;
	width: 77.5vw;
	margin-right: 5vw;
	margin-top: -6vh;
}

.container #mainDashboard {
	margin-top: 4vh;
	background-color: white;
	border-radius: 6px;
	height: 80vh;
	width: 77.5vw;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.container #searchCont {
	width: 35.5vw;
	height: 30px;
}

.container .input-group #searchDashboard, .container .input-group #addFriendSearch {
	margin: 0;
	border-radius: 6px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	border: 2px solid #8c9eff;
	font-size: 14px;
}

.container .input-group #searchDashboard::placeholder,.container .input-group #addFriendSearch::placeholder  {
	color: #9e9e9e;
	font-weight: 100;
}

.container .input-group-prepend {
	border-radius: 6px;
}

.container #searchIcon, .container #addFriendSearchIcon {
	background-color: #8c9eff;
	color: white;
	margin: 0;
	margin-right: 0px;
	border-radius: 6px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border: 2px solid #8c9eff;
}

.container #searchIcon .feather, .container #addFriendSearchIcon .feather {
	height: 14px;
	width: 14px;
}

#notification, #friendRequests {
	padding-left: 5px;
	position: relative;
}

#friendRequestNotification, #notificationNotification {
	position: absolute;
  	width: 13.5px;
  	height: 13.5px;
  	top: 8.5px;
  	right: 15px;
  	padding: 0.5px;
  	border-radius: 50%;
  	background-color: #7c4dff;
  	opacity: 0.7;
  	display: none;
}

#notificationMenu, #friendRequestsMenu {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding-bottom: 10px;
	min-width: 300px;
 	height: auto;
    max-height: 60vh;
    overflow-x: hidden;
}

#notificationMenu .dropdown-item, #friendRequestsMenu .dropdown-item {
	margin-bottom: 0;
}

#notificationMenu p, #friendRequestsMenu p {
	color: #66bb6a;
	font-size: 18px;
}

#notificationMenu #notificationPlaceholder, #friendRequestsMenu #friendRequestPlaceholder {
	color: #757575;
	margin-bottom: 1.5vh;
}


#notificationMenu #notificationPlaceholder:hover, #friendRequestMenu #friendRequestPlaceholder:hover {
	color: #757575;
}

#removeNotification {
	display: none;
}

.removeNotification {
	float: right;
	z-index: 10000;
}

.removeNotification .feather {
	margin-right: 0;
	opacity: 0.7;
	transition: all 0.3s;
}

.removeNotification .feather:hover {
	cursor: pointer;
	opacity: 1;
}

.friendRequestNotificationTime {
	font-size: 12px;
	color: #8c9eff;
}

.notificationMessage {
	font-size: 16px;
}

.notificationLink:hover {
	cursor: pointer;
}

/***************************** FRIEND REQUESTS **************************************/

.pendingFriendRequest {
	padding: 1.5%;
	padding-top: 0;
	padding-left: 6%;
	margin-bottom: 1.5vh;
}

.pendingFriendRequest:hover {
	cursor: pointer;
}

.pendingFriendRequest:focus {
	background-color: grey;
}

.pendingFriendRequest .pendingFriendRequestName {
	margin-bottom: 0;
	font-size: 20px;
	font-weight: 600;
	color: #212121;
}

.pendingFriendRequest .pendingFriendRequestEmail {
	color: #757575;
	font-size: 14px;
}

.pendingFriendRequestChoices {
	z-index: 1000;
}

.pendingFriendRequestChoices .feather {
	margin-top: 2vh;
	width: 14px;
	height: 14px;
}

.pendingFriendRequest span .acceptFriendRequest {
	padding: 2.5%;
	background-color: #8c9eff;
	margin-top: 2vh;
	border-radius: 2px;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19);
	color: white;
	font-size: 12px;
	margin-right: 5px;
	transition: all 0.2s;
}

.pendingFriendRequest span .declineFriendRequest {
	padding: 2.5%;
	background-color: #e0e0e0;
	margin-top: 2vh;
	border-radius: 2px;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19);
	color: #424242;
	font-size: 12px;
	transition: all 0.2s;
}

.pendingFriendRequestChoicesProfile {
	margin-bottom: 4vh;
	margin-top: 1vh;
	display: none;
}

.pendingFriendRequestChoicesProfile .feather {
	margin-top: 2vh;
	width: 14px;
	height: 14px;
}

.pendingFriendRequestChoicesProfile .acceptFriendRequestProfile {
	padding: 2.5%;
	background-color: #8c9eff;
	margin-top: 2vh;
	border-radius: 2px;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19);
	color: white;
	font-size: 12px;
	margin-right: 5px;
	transition: all 0.2s;
}

.pendingFriendRequestChoicesProfile .declineFriendRequestProfile {
	padding: 2.5%;
	background-color: #e0e0e0;
	margin-top: 2vh;
	border-radius: 2px;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19);
	color: #424242;
	font-size: 12px;
	transition: all 0.2s;
}

.pendingFriendRequest span .acceptFriendRequest:hover, .pendingFriendRequestChoicesProfile .acceptFriendRequestProfile:hover {
	background-color: #5c6bc0;
	cursor: pointer;
}

.pendingFriendRequest span .declineFriendRequest:hover, .pendingFriendRequestChoicesProfile .declineFriendRequestProfile:hover {
	background-color: #bdbdbd;
	cursor: pointer;
}

.pendingFriendRequestAvatar {
	vertical-align: middle;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19);
    margin-top: -7.5px;
    margin-right: 10px;
}

#masterRequest {
	display: none;
}

.friendRequestDivider, #notificationDivider {
	margin-top: 17.5px;
	margin-bottom: 10px;
}

#dashboardContainer {
	height: 80vh;
	border-radius: 6px;
	padding: 0;
}

#socialMain {
	min-height: 80vh;
	border-radius: 6px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	background-color: #fafafa;
	display: none;
}

#socialAside {
	padding: 0;
	min-height: 80vh;
	overflow-y: scroll;
	overflow-x: hidden;
	box-shadow: -3.5px 0px 3.5px -3px #616161;
	position: relative;
	padding-right: 14px;
	display: none;
}

.list-group-item:first-child {
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}

.list-group-item:last-child {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.friensList {
	word-wrap: break-word;
}

.chatAvatar {
	vertical-align: middle;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19);
}

#masterList {
	height: 0px;
}

.friendName {
	font-size: 16px;
}

.friendEmail {
	font-size: 12px;
	color: #9e9e9e;
	word-wrap: break-word;
}

.online .feather  {
	stroke: #66bb6a; 
	width: 18px;
	height: 18px;
}

.away .feather  {
	stroke: #fdd835;
	width: 18px;
	height: 18px;
}

.offline .feather  {
	stroke: #ef5350;
	width: 18px;
	height: 18px;
}

.friendOptions .feather {
	width: 20px;
	height: 20px;
	margin-right: 5px;
	stroke: #8c9eff;
	margin-bottom: 5px;
}

.friendOptions {
	margin-left: 5px;
}

.friendOptions .feather:hover {
	stroke: #7c4dff;
}

.friendContHeading {
	margin-bottom: 0;
}

.friendsListHeading {
	background-color: #8c9eff;
	color: #fafafa;
	z-index: 100;
	padding-bottom: 10px;
	border: 1px solid #8c9eff;
	width: 100%;
}

.friendsListHeading:hover {
	background-color: #8c9eff;
	color: #fafafa;
}

.friendsListHeading:focus {
	background-color: #8c9eff;
	color: #fafafa;
	z-index: 100;
}

.friendsListHeading .feather {
	stroke: #fafafa;
	width: 22px;
	height: 22px;
	margin-right: 0;
}

.friendsListHeading #onlineStatusIcon2 {
	display: none;
}

.friendsListHeading .feather:hover {
	opacity: 0.7;
	stroke: white;
}

#friendsListHeadingCont {
	position: fixed;
	z-index: 100;
}

#friendsListCont {
	padding-top: 80px;
	transition: all 0.5s;
}

#filterFriends {
	border-radius: 0;
	border: 2px solid #8c9eff;
   box-shadow: 0 3px 2px -2px black;
   background-color: #fafafa;
   display: none;
}

#filterFriends::placeholder {
	font-weight: 100;
	font-size: 14px;
	color: #9e9e9e;
}

#amountOnline {
	font-size: 14px;
}

#masterOnlineIcon, #masterFriendOption {
	display: none;
}

#socialicon {
	width: 500px;
	height: 350px;
	margin-top: 6vh;
}

#socialiconCont {
	opacity: 0.3;
}

#socialToolbar {
	margin-top: 2.5vh;
	margin-bottom: 0;
	padding-left: 0;
}

#socialToolbar li {
	display: inline;
	margin: 10px;
	transition: all 0.3s;
	cursor: pointer;
}

#socialToolbar li:hover {
	color: #8c9eff;
}

#socialToolbar .feather {
	stroke: #8c9eff;
}

#addFriendCont {
	display: none;
	margin-top: 15vh;
}

#searchNewFriend {
	margin-top: 2.5vh;
	border-radius: 6px;
	border: 1px solid #8c9eff;
	color: white;
	background-color: #8c9eff;
	padding: 5%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	font-size: 16px;
	transition: all 0.3s;
}

#searchNewFriend:hover {
	background-color: #7c4dff;
	border: 1px solid #7c4dff;
	cursor: pointer;
}

#searchNewFriend .feather {
	width: 16px;
	height: 16px;
}

#searchNewFriendError, #searchNewFriendSuccess {
	margin-top: 2.5vh;
	display: none;
}

#searchResults {
	padding-bottom: 5vh;
}

#searchResults div {
	background-color: #8c9eff;
	padding: 2%;
	margin: 4%;
	margin-bottom: 2%;
	word-break: break-all;
	border-radius: 4px;
	color: #fafafa;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	min-height: 200px;
	transition: all 0.5s;
}

#searchResults div:hover {
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
	cursor: pointer;
}

#searchResults div h5 {
	margin-bottom: 5px;
}

#searchResults div p {
	font-size: 14px;
	font-weight: 100;
}

.searchResultsAvatar {
    vertical-align: middle;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.3s;
    background-color: white;
}

.searchResultsAvatar:hover {
	box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
}

#searchResults div .bio {
	font-weight: 400;
	margin-top: 7.5px;
	padding: 4%;
	margin-bottom: 5vh;
}

#masterResult {
	display: none;
}

#searchResults div .searchResultsIcons {
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 100px;
	margin-left: -50px;
	margin-top: 10vh;
	margin-bottom: 1vh;
}

#searchResults div .searchResultsIcons .feather {
	margin: 5px;
	transition: all 0.3s;
}

#searchResults div .searchResultsIcons .feather:hover {
	opacity: 0.5;
}

#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1000000; /* Add a z-index if needed */
    left: 2%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#snackbar.show {
    visibility: visible;

  	-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#chatCont {
	display: none;
	min-height: 80vh;
}

#chatCont #chat {
	min-height: 62.5vh;
	max-height: 62.5vh;
	margin-top: 5vh;
	padding: 0;
	position: relative;
	border: 1px solid #e0e0e0;
	background-color: white;
}

#chatCont #mainChatCont {
	overflow-y: scroll;
	max-height: 55vh;
	padding-bottom: 25px;
}

#chatCont h5 {
	margin-left: 4%;
	margin-top: 15vh;
	color: #9e9e9e;
	font-weight: 100;
	margin-bottom: 2.5vh;
}

#chatCont #chatAvatar {
	padding: 0;
	min-height: 75px;
	min-width: 75px;
	border-radius: 50%;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19);
}

#chatCont #chatPanel {
	height: 50px;
	width: 100%;
	background-color: #f5f5f5;
	border-top: 0.5px solid #e0e0e0;
	position: absolute;
	bottom: 0;
	overflow: hidden;
	margin-left: 0.03vw;
}

#chatProfile {
	margin-top: 5vh;
	background-color: #8c9eff;
}

#writeChatMessage {
	height: 30px;
	margin-top: 10px;
	border-radius: 6px;
	font-size: 12px;
	margin-right: 0;
	border: 1px solid #8c9eff;
}

#chatOptions {
	padding: 0;
}

#emojis, #colorTheme {
	margin-top: 10px;
}

#emojis:hover, #colorTheme:hover {
	cursor: pointer;
}

#emojis .feather, #colorTheme .feather {
	stroke: #8c9eff;
	height: 20px;
	width: 20px;
	margin-top: 15px;
	margin-right: 5px;
}

#sendChatCont {
	margin-top: 10px;
}

#sendChatMessage {
	color: #8c9eff;
	margin-top: 5px;
	font-size: 16px;
}

#sendChatMessage:hover {
	cursor: pointer;
}

#chatMain {
	margin-left: 5%;
	margin-right: 5%;
	overflow-x: hidden;
}

.accountMessage {
	padding: 1.5%;
	padding-left: 3%;
	padding-right: 3%;
	margin-right: 5%;
	font-size: 14px;
	border-radius: 20px;
	color: white;
	background-color: #8c9eff;
	float: right;
	display: block;
	clear: both;
	max-width: 80%;
	word-break: break-all;
}

.profileMessage {
	padding: 1.5%;
	padding-left: 3%;
	padding-right: 3%;
	margin-left: 9%;
	font-size: 14px;
	border-radius: 20px;
	border-top-left-radius: 4px;
	color: black;
	background-color: #eeeeee;
	float: left;
	display: inline-block;
	clear: left;
	max-width: 80%;
	word-break: break-all;
}

.accountTime {
	font-size: 10px;
	color: #9e9e9e;
	float: right;
	display: block;
	clear: both;
	margin-bottom: 2px;
	margin-right: 7.5%;
	margin-top: 10px;
}

.profileTime {
	font-size: 10px;
	color: #9e9e9e;
	float: left;
	display: block;
	clear: both;
	margin-bottom: 2px;
	margin-left: 2.15%;
	margin-top: 10px;
}

.chatRowAccount {
	width: 100%;
}

#chatMain p {
	margin-bottom: 2.5px;
}

#changeThemeModal p {
	font-size: 14px;
	color: #9e9e9e;
}

.themeColors {
	height: 30px;
	width: 30px;
	margin: 1%;
	border-radius: 6px;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19);
	transition: all 0.3s;
}

.themeColors:hover {
	cursor: pointer;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#colorDiv {
	padding-bottom: 5vh;
}

#chatHeader {
	height: 50px;
	width: 100%;
	background-color: #8c9eff;
	border-top: 0.5px solid #e0e0e0;
	position: absolute;
	top: 0;
	overflow: hidden;
	z-index: 10;
}

#chatHeaderName {
	color: white;
	font-size: 16px;
	font-weight: 400;
	margin: 0 auto;
	text-align: center;
	margin-top: 7.5px;
}

#lastActive {
	font-size: 10px;
	color: #eeeeee;
}

.chatMessageAvatar {
	float: left;
	margin-left: 0.4%;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19);
	background-color: #9fa8da;
	clear: left;

}

/*********************************** PROFILE *******************************************/

#profileCont {
	margin: 2%;
	max-height: 80vh;
	overflow: auto;
}

#mainProfile {
	max-height: 80vh;
	overflow: auto;
	overflow-x: hidden;
}

#profileImg {
	height: 177px;
	width: 177px;
	border-radius: 6px;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19);
	transition: 0.5s;
}

#profileImg:hover {
	opacity: 0.8;
	cursor: pointer;
}

#profileHeading {
	margin-top: 6%;
	margin-bottom: 0;
	font-size: 20px;
}

#profileMail {
	font-size: 14px;
	margin-bottom: 8%;
}

#profileLocation {
	margin-top: 8%;
	font-size: 14px;
	margin-bottom: 2%;
}

#profileJoined {
	font-size: 14px;
	margin-bottom: 4%;
}

#profileLocation .feather, #profileJoined .feather {
	height: 16px;
	width: 16px;
}

.profileDivider {
	width: 177px;
	margin-bottom: 4%;
}

.socialMediaLink {
	font-size: 16px;
	color: black;
	text-decoration: none;
	transition: all 0.3s;
	display: none;
}

.socialMediaLink:hover {
	color: #8c9eff;
	text-decoration: none;
}

.socialMediaLink .feather {
	height: 16px;
	width: 16px;
}

#profileGithub:hover, #profileGithubModal:hover {
	color: #b388ff;
}

#profileFacebook:hover, #profileFacebookModal:hover {
	color: #0d47a1;
}

#profileTwitter:hover, #profileTwitterModal:hover {
	color: #42a5f5;
}

#profileLinkedin:hover, #profileLinkedinModal:hover {
	color: #1976d2;
}

#profileInstagram:hover, #profileInstagramModal:hover {
	color: #e95950;
}

#profileGithub .feather, #profileGithubModal .feather {
	stroke: #b388ff;
}

#profileLinkedin .feather, #profileLinkedinModal .feather {
	stroke: #1976d2;
}

#profileFacebook .feather, #profileFacebookModal .feather {
	stroke: #0d47a1;
}

#profileInstagram .feather, #profileInstagramModal .feather {
	stroke: #e95950;
}

#profileTwitter .feather, #profileTwitterModal .feather {
	stroke: #42a5f5;
}

#connect {
	margin-bottom: 4%;
	font-weight: 500;
	font-size: 16px;
}

#profileTabs {
	margin-top: 2%;
	margin-bottom: 2%;
}

#profileTabs li {
	margin-right: 10%;
	padding-bottom: 4%;
}

#profileTabs li a {
	text-decoration: none;
	color: #8c9eff;
}

#profileTabs a .active {
	padding-bottom: 20px;
}

#profileTabs li a:hover {
	opacity: 0.8;
}

li .active {
	
}

/************************************* SETTINGS ***************************************/

#settingsHeading {
	margin-bottom: 2%;
}

#bioTextarea {
	resize: none;
}

#avatarUpload {
	display: none;
}

.tooltip {
	font-size: 10px;
	margin-top: 5px;
}

#firstNameProfile, #lastNameProfile {
	font-size: 14px;
}

#changeProfilePassword {
	margin-top: 5vh;
	background-color: #8c9eff;
	color: white;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19);
	border-radius: 6px;
}

#cancelProfileUpdateCont {
	margin-top: 2vh;
	padding: 1%;
	border: 2px solid #9e9e9e;
	border-radius: 4px;
	margin-left: 2.5%;
	opacity: 0.3;
	transition: all 0.3s;
}

#cancelProfileUpdateCont:hover {
	cursor: pointer;
}

#confirmProfileUpdateCont {
	margin-top: 2vh;
	padding-top: 1%;
	border: 2px solid #8c9eff;
	border-radius: 4px;
	margin-left: 2.5%;
	opacity: 0.3;
	transition: all 0.3s;
}

#confirmProfileUpdateCont:hover {
	cursor: pointer;
}

#cancelProfileUpdate {
	text-decoration: none;
	color: #9e9e9e;
	padding: 0;
}

#confirmProfileUpdate {
	text-decoration: none;
	color: #8c9eff;
	padding: 0;
}

#updateProfileCont {
	margin-top: 0.5%;
}

#mainProfile .row {
	margin-bottom: 1vh;
}

#emailNote {
	margin-left: 2.5%;
	margin-bottom: 0;
	font-size: 10px;
	color: #9e9e9e;
	margin-top: 1px;
}

#passwordNote {
	margin-bottom: 0;
	font-size: 10px;
	color: #9e9e9e;
	margin-top: 1px;
}

#authenticateModal {
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 2%;
	padding-top: 2%;
}

#authenticateModal #loginBtn, #changePasswordModal #changePasswordBtn {
	margin-bottom: 5vh;
}

#authenticateModal h3 {
	font-weight: 400;
}

#authenticateAlert {
	margin-top: 5vh;
	margin-bottom: 5vh;
}

#authenticateError {
	display: none;
}

#authenticateErrorMsg {
	margin-bottom: 0;
}

#changeProfilePassword:hover {
	background-color: #7e57c2;
}

#changePasswordModal h3 {
	margin-bottom: 5vh;
}

#changePasswordModal input {
	margin-bottom: 3vh;
}

#changePasswordErrorMessage {
	margin-bottom: 5vh;
	display: none;
}

#socialMediaHeading {
	margin-top: 5vh;
	margin-bottom: 1vh;
}

#socialMediaIntro {
	margin-bottom: 5vh;
	font-size: 14px;
	color: #9e9e9e;
}

#githubURL {
	border: 2px solid #b388ff;
}

#addGithubURL {
	padding: 4%;
	border-radius: 4px;
	background-color: #b388ff;
	color: white;
	transition: all 0.3s;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
	margin-bottom: 0;
}

#linkedinURL {
	border: 2px solid #1976d2;
}

#addLinkedinURL {
	padding: 4%;
	border-radius: 4px;
	background-color: #1976d2;
	color: white;
	transition: all 0.3s;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
	margin-bottom: 0;
}

#facebookURL {
	border: 2px solid #0d47a1;
}

#addFacebookURL {
	padding: 4%;
	border-radius: 4px;
	background-color: #0d47a1;
	color: white;
	transition: all 0.3s;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
	margin-bottom: 0;
}

#twitterURL {
	border: 2px solid #42a5f5;
}

#addTwitterURL {
	padding: 4%;
	border-radius: 4px;
	background-color: #42a5f5;
	color: white;
	transition: all 0.3s;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
	margin-bottom: 0;
}

#instagramURL {
	border: 2px solid #e95950;
}

#addInstagramURL {
	padding: 4%;
	border-radius: 4px;
	background-color: #e95950;
	color: white;
	transition: all 0.3s;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
	margin-bottom: 0;
}

#addGithubURL:hover, #addLinkedinURL:hover, #addFacebookURL:hover, #addTwitterURL:hover, #addInstagramURL:hover {
	cursor: pointer;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#addGithubURL .feather, #addLinkedinURL .feather, #addFacebookURL .feather, #addTwitterURL .feather, #addInstagramURL .feather {
	width: 16px;
	height: 16px;
}

.removeSocialMedia {
	font-size: 10px;
	color: #9e9e9e;
	display: none;
}

.removeSocialMedia:hover {
	border-bottom: 1px solid #9e9e9e;
	cursor: pointer;
}

.socialMediaError {
	font-size: 12px;
	color: #ef5350;
	padding-top: 4px;
}

#blockedUsersRow h5 {
	margin-top: 5vh;
}

#blockedUsersRow p {
	margin-bottom: 2.5vh;
	font-size: 14px;
	color: #9e9e9e;
}

#blockedUsersRow p:hover {
	cursor: pointer;
}


.profileBlockedCont {
	display: none;
}

#blockedUsersRow .blockedAvatar {
	width: 55px;
	height: 55px;
	border-radius: 6px;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19);
	margin-bottom: 1%;
	background-color: #9fa8da;
	filter: blur(2px);
}

#blockedUsersRow .blockedAvatar:hover {
	cursor: pointer;
}

#blockedUsersRow .blockedName {
	font-size: 16px;
	margin-top: 1vh;
	margin-bottom: 1vh;
}

#blockedUsersRow .unblockUser {
	color: #e53935;
	padding: 2%;
	border-radius: 6px;
	border: 0.5px solid #e53935;
	opacity: 0.5;
	max-width: 55px;
	font-size: 12px;
	transition: all 0.3s;
}

#blockedUsersRow .unblockUser:hover {
	opacity: 1;
	cursor: pointer;
}

/*********************************** END SETTINGS ************************************/
#noFriendsRow {
	display: none;
}

#noFriendsRow h5, #noFriendsRow p {
	margin-left: 2%;
	color: #9e9e9e;
}

#noFriendsRow h5 {
	font-size: 18px;
}

#noFriendsRow p {
	font-size: 14px;
	color: #9e9e9e;
}

#noFriendsImg {
	max-width: 300px;
	max-height: 250px;
}

.friendsAvatar {
	width: 75px;
	height: 75px;
	border-radius: 6px;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19);
	margin-bottom: 3%;
	background-color: #9fa8da;
}

.profileFriendsCont {
	max-height: 35vh;
	word-break: break-all;
	padding-top: 2%;
	padding-bottom: 2%;
	border: 0.75px solid #e0e0e0;
	margin-bottom: 3%;
	margin-right: 5%;
	transition: 0.3s;
}

.profileFriendsCont:hover {
	cursor: pointer;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19);
}

#friendsHeading {
	margin-bottom: 4%;
}

.friendsName {
	font-size: 16px;
	margin-bottom: 0;
}

.friendsEmail {
	margin-top: 0;
	font-size: 12px;
	margin-bottom: 0;
}

/********************************** PROFILE MODAL *************************************/
#profileModalCont {
	padding-bottom: 5vh;
}

#profileModalCont #coverImg {
	height: 150px;
	width: 100%;
	background: linear-gradient(
    rgba(20,20,20, .6), 
    rgba(20,20,20, .6)),
    url("../img/cover.jpg");
	background-attachment: fixed;
	margin: 0;
}

#profileModalCont #profileModalAvatar {
	width: 150px;
	height: 150px;
	margin-bottom: 2vh;
	border-radius: 50%;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19);
	background: linear-gradient(
    rgba(20,20,20, .6), 
    rgba(20,20,20, .6)),
    url("../img/cover.jpg");
	background-attachment: fixed;
	margin-top: 70px;
	border: 3px solid white;
}

#profileModalCont #profileModalName {
	font-size: 22px;
	margin-top: 12.5vh;
}

#exitProfileModal {
	width: 100%;
	background: linear-gradient(
    rgba(20,20,20, .6), 
    rgba(20,20,20, .6)),
    url("../img/cover.jpg");
	background-attachment: fixed;
	margin: 0;
	padding: 2%;
}

#profileModalCont #profileModalEmail {
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 2vh;
}

#profileModalLocation {
	margin-top: 2%;
	font-size: 14px;
	margin-bottom: 2%;
}

#profileModalJoined {
	font-size: 14px;
	margin-bottom: 2%;
}

#profileModalFriends {
	font-size: 14px;
	margin-bottom: 2%;
}

#foreverAlone {
	font-size: 14px;
	color: #9e9e9e;
	margin-left: 4%;
	display: none;
}

#profileModalLocation .feather, #profileModalJoined .feather, #profileModalFriends .feather {
	height: 16px;
	width: 16px;
}

#profileModalBio {
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 2vh;
	margin-bottom: 2.5%;
	font-size: 14px;
}

#profileModalCommunication .feather {
	stroke: #8c9eff;
}

#profileModalCommunication span {
	transition: all 0.3s;
}

#profileModalCommunication span:hover {
	cursor: pointer;
	opacity: 0.5;
}

#profileModalCont .dropdown-divider {
	margin-left: 5%;
	margin-right: 5%;
}

#profileModalFriendsHeading {
	margin-left: 4%;
	margin-top: 2%;
	font-size: 18px;
}

#profileModalFriendsHeading .feather, #connectWithProfileHeading .feather {
	stroke: #8c9eff;
}

#connectWithProfileHeading {
	margin-left: 4%;
	margin-top: 2%;
	font-size: 18px;
}

#commonFriends {
	font-size: 12px;
	color: #9e9e9e;
}

.profileModalFriendsCont {
	max-height: 35vh;
	word-break: break-all;
	padding-top: 2%;
	padding-bottom: 2%;
	border: 0.75px solid #e0e0e0;
	margin-bottom: 3%;
	margin-right: 2.5%;
	margin-left: 2.5%;
	transition: 0.3s;
}

.profileModalFriendsCont:hover {
	cursor: pointer;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19);
}

#connectWithProfileRow {
	margin-left: 4%;
}

#exitProfileModal .feather {
	stroke: #9e9e9e;
	width: 22px;
	height: 22px
	opacity: 0.7;
}

#exitProfileModal .close .feather {
	width: 28px;
	height: 28px;
}

#exitProfileModal .feather:hover {
	color: #8c9eff;
	cursor: pointer;
}

#profileModalSettingsHeading {
	font-size: 18px;
}

#profileModalSettingsHeading:hover {
	color: black;
}

#profileModalSettingsMenu p:hover {
	color: #ef5350;
	cursor: pointer;
}

#reportReason {
	color: black;
	border: 0;
	transition: all 0s;
	border-radius: 0;
}

#confirmReportCont, #confirmBlockCont {
	margin-bottom: 10%;
	margin-top: 2.5%;
}

#confirmReportCont:hover, #confirmBlockCont:hover {
	color: black;
	cursor: pointer;
}

#confirmReportCont span, #confirmBlockCont span {
	margin-right: 2%;
	padding: 7.5px;
	border-radius: 6px;
}

#confirmReportCont #cancelReport, #confirmBlockCont #cancelBlock {
	border: 1px solid #9e9e9e;
	color: #9e9e9e;
	opacity: 0.5;
	transition: all 0.3s;
}

#confirmReportCont #cancelReport:hover, #confirmBlockCont #cancelBlock:hover {
	opacity: 1;
}

#confirmReportCont #confirmReport, #confirmBlockCont #confirmBlock {
	border: 1px solid #ef5350;
	color: #ef5350;
	opacity: 0.5;
	transition: all 0.3s;
}

#confirmReportCont #confirmReport:hover, #confirmBlockCont #confirmBlock:hover {
	opacity: 1;
}

#reportReasonLabel, #blockLabel {
	margin-bottom: 2%;
	padding-bottom: 0;
	padding-top: 0;
	font-size: 14px;
	color: #9e9e9e;
	opacity: 0.8;
}

#reportReasonLabel:hover, #blockLabel:hover {
	color: #9e9e9e;
}

#reportReasonCont {
	display: none;
}

#confirmUnfriendCont {
	margin-bottom: 10%;
	margin-top: 2.5%;
}

#confirmUnfriendCont:hover {
	color: black;
	cursor: pointer;
}

#confirmUnfriendCont span {
	margin-right: 2%;
	padding: 7.5px;
	border-radius: 6px;
}

#confirmUnfriendCont #cancelUnfriend {
	border: 1px solid #9e9e9e;
	color: #9e9e9e;
	opacity: 0.5;
	transition: all 0.3s;
}

#confirmUnfriendCont #cancelUnfriend:hover {
	opacity: 1;
}

#confirmUnfriendCont #confirmUnfriend {
	border: 1px solid #ef5350;
	color: #ef5350;
	opacity: 0.5;
	transition: all 0.3s;
}

#confirmUnfriendCont #confirmUnfriend:hover {
	opacity: 1;
}

#confirmUnfriendCont {
	display: none;
}

#unfriendLabel {
	margin-bottom: 4%;
	padding-bottom: 0;
	padding-top: 0;
	font-size: 14px;
	color: #9e9e9e;
	opacity: 0.8;
}

#noConnections {
	font-size: 12px;
	color: #9e9e9e;
	display: none;
}

#blockCont {
	display: none;
}

/********************************* END PROFILE MODAL *********************************/

/*********************************** END PROFILE *************************************/



/******************************** EMAIL MODAL ****************************************/
#sendEmailModal {
	max-height: 95vh;
	overflow: auto;
}

#sendEmailModal {
	padding-bottom: 4vh;
}

#sendEmailName {
	font-size: 20px;
}

#emailAvatar {
	width: 75px;
	height: 75px;
	margin-bottom: 2vh;
	border-radius: 6px;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19);
	background-color: #9fa8da;
}

#sendEmailAddress {
	margin-top: 2.5vh;
	margin-bottom: 2vh;
}

#sendEmailAddress:readonly {
	background-color: #e8eaf6;
	color: #757575;
}

#sendEmailAddress:focus {
	border: 1px solid #e0e0e0;
}

#sendEmailAddress:hover {
	cursor: not-allowed;
}

#sendEmailContent {
	resize: none;
	margin-top: 2vh;
	min-height: 200px;
}

#sendEmailContent:focus, #sendEmailSubject:focus {
	border: 1px solid #8c9eff;
}

#sendEmailBtn {
	margin-top: 2vh;
	border: 1px solid #8c9eff;
	background-color: #8c9eff;
	font-size: 16px;
	color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	transition: all 0.3s;
}

#sendEmailBtn:hover {
	background-color: #536dfe;
	border: 1px solid #536dfe;
}

#fromEmailAddress {
	display: none;
}

#iframe {
	display: none;
}


/******************************** END EMAIL MODAL *********************************/

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}