#dashNav {
	background-color: #e8eaf6;
	padding-bottom: 0;
}

#dashboardSection {
	background-color: #e8eaf6;
	height: 100vh;
	z-index: 10;
}

#userAccount {
	border-radius: 4px;
	color: #5c6bc0;
	transition: all 0.3s;
	margin-top: 1.5vh;
}

#notification {
	margin-top: 1.5vh;
	margin-right: 1vw;
	height: 40px;
	width: 40px;
	stroke: #8c9eff;
	transition: all 0.3s;
}

#documentation {
	margin-top: 1.5vh;
	margin-right: 2vw;
	height: 40px;
	width: 40px;
	stroke: #8c9eff;
	transition: all 0.3s;
	padding: 8px;
}

#notification:hover, #documentation:hover {
	cursor: pointer;
}


#userAccount:focus {
	background-color: #8c9eff;
	color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#userAccount .feather {
	width: 15px; 
	height: 15px; 
	stroke: currentColor; 
	stroke-width: 2; 
	stroke-linecap: round; 
	stroke-linejoin: round; 
	fill: none;
	opacity: 0.8;
}

#userAvatar {
    vertical-align: middle;
    width: 27.5px;
    height: 27.5px;
    border-radius: 50%;
    margin-top: -5px;
    margin-right: 5px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19);
}

#userAccountMenu {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding-left: 5px;
	padding-right: 5px;
	margin-top: 1vh;
}

.dropdown-item .feather {
	width: 20px; 
	height: 20px; 
	stroke: #8c9eff; 
	stroke-width: 2; 
	stroke-linecap: round; 
	stroke-linejoin: round; 
	fill: none;
	float: left;
	margin-top: 2.5px;
	margin-right: 10px;
	text-shadow: 2px 2px 4px #000000;
}

.dropdown-item {
	padding-bottom: 10px;
	padding-top: 10px;
}

.dropdown-item:hover {
	color: #8c9eff;
	background-color: white;
}

#signOut {
	border-bottom: 0;
	padding-bottom: 5px;
	padding-top: 5px;
}

#newProject {
	padding-top: 5px;
}

.container {
	height: 80vh;
	width: 77.5vw;
	margin-right: 5vw;
	margin-top: -6vh;
}

.container #mainDashboard {
	margin-top: 4vh;
	background-color: white;
	border-radius: 6px;
	height: 80vh;
	width: 77.5vw;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.container #searchCont {
	width: 35.5vw;
	height: 30px;
}

.container .input-group #searchDashboard {
	margin: 0;
	border-radius: 6px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	border: 2px solid #8c9eff;
	font-size: 14px;
}

.container .input-group #searchDashboard::placeholder {
	color: #9e9e9e;
	font-weight: 100;
}

.container .input-group-prepend {
	border-radius: 6px;
}

.container #searchIcon {
	background-color: #8c9eff;
	color: white;
	margin: 0;
	margin-right: 0px;
	border-radius: 6px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border: 2px solid #8c9eff;
}

.container #searchIcon .feather {
	height: 14px;
	width: 14px;
}

#notification {
	padding-left: 5px;
}

#notificationMenu {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#notificationMenu .dropdown-item {
	margin-bottom: 0;
}

#notificationMenu p {
	color: #66bb6a;
	font-size: 18px;
}

#notificationMenu #notificationPlaceholder {
	color: #757575;
}


#notificationMenu #notificationPlaceholder:hover {
	color: #757575;
}

#social {
	height: 80vh;
	border-radius: 6px;
	padding: 0;
}

#socialMain {
	height: 80vh;
	border-radius: 6px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	background-color: #fafafa;
}

#socialAside {
	padding: 0;
	min-height: 80vh;
	overflow-y: scroll;
	overflow-x: hidden;
	box-shadow: -3.5px 0px 3.5px -3px #616161;
}

.list-group-item:first-child {
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}

.list-group-item:last-child {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.friensList {
	word-wrap: break-word;
}

.friendName {
	font-size: 16px;
}

.friendEmail {
	font-size: 12px;
	color: #9e9e9e;
	word-wrap: break-word;
}

.online .feather  {
	stroke: #66bb6a; 
	width: 18px;
	height: 18px;
}

.away .feather  {
	stroke: #fdd835;
	width: 18px;
	height: 18px;
}

.offline .feather  {
	stroke: #ef5350;
	width: 18px;
	height: 18px;
}