body {
	overflow-y: hidden;
}

#mainSection #particles-js {
	height: 100vh;
	background: linear-gradient(
    rgba(20,20,20, .6), 
    rgba(20,20,20, .6)),
    url("../img/landingpage.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

nav {
	background: linear-gradient(
    rgba(20,20,20, .6), 
    rgba(20,20,20, .6)),
    url("../img/landingpage.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

nav #logo {
	color: #7e57c2;
	font-weight: 100;
}

nav ul li a {
	color: #757575;
}

#discover {
	font-weight: 600;
	color: #757575 !important;
}

#discover .feather {
  width: 14px; 
  height: 14px; 
  stroke: currentColor; 
  stroke-width: 2; 
  stroke-linecap: round; 
  stroke-linejoin: round; 
  fill: none;
  opacity: 0.8;
}

#discover:hover {
	color: #7e57c2 !important;
}

.dropdown-item {
	transition: all 0.3s;
}

.dropdown-item:hover {
	color: #7e57c2;
	background-color: white;
	border-left: 7.5px solid #7e57c2;
	padding-left: 10px;
}

#login {
	font-weight: 600;
	margin-left: 20px;
}

#login:hover {
	color: #7e57c2; 
}

#getStarted {
	color: #7e57c2;
	font-weight: 600;
	border: 1px solid #7e57c2;
	margin-left: 20px;
}

#getStarted:hover {
	background-color: #7e57c2;
	color: white;
}

#headingCont {
	padding-top: 17.5vh;
	margin-left: 20vw;
	padding-bottom: 2.5vh;
}

#headingCont h1 {
	color: #bdbdbd;
	text-shadow: 2px 2px 4px #000000;
	font-size: 55px;
	font-weight: 100;
}

#headingCont p {
	color: #9e9e9e;
	text-shadow: 2px 2px 4px #000000;
}

#headingCont #discoverMain {
	color: white;
	font-size: 20px;
	width: 150px;
	margin-right: 15px;
	background-color: rgba(100, 190, 100, 0.9);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	transition: all 0.3s;
}

#headingCont #getStartedMain {
	font-size: 20px;
	color: #7e57c2;
	width: 150px;
	background-color: rgba(20,20,20, 0.7);
	border: 1px solid #7e57c2;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	transition: all 0.3s;
}

#headingCont #discoverMain:hover {
	background-color: rgba(20,20,20, 0.7);
	color: rgba(100, 190, 100, 0.9);
	border: 1px solid rgba(100, 190, 100, 0.9);
}

#headingCont #getStartedMain:hover {
	background-color: #7e57c2;
	color: white;
	border: 1px solid #7e57c2;
}

#signupModal {
	background-color: #f5f5f5;
	padding-bottom: 15vh;
	
}

#exitSignupModal {
	padding: 2%;
}

#exitSignupModal:hover {
	color: #7e57c2;
}

#signupModal h3 {
	margin-top: 5vh;
	font-weight: 100;
	font-size: 50px;
	margin-bottom: 5vh;
}

#signupModal h5 {
	font-size: 20px;
	color: #616161 ;
	font-weight: 100;
	margin-bottom: 10vh;
}

#nameRow, #aboutRow, #passwordRow {
	margin-bottom: 5vh;
}

#emailHelp {
	font-size: 11px;
}

#signUpBtnCont {
	padding: 0;
}

#signUpBtn {
	margin-top: 5vh;
	border: 1px solid #7e57c2;
	background-color: #7e57c2;
	font-size: 20px;
	color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-bottom: 5vh;
	transition: all 0.3s;
}

#signUpBtn:hover {
	background-color: #b388ff;
	border: 1px solid #b388ff;
}



#policy {
	font-size: 14px;
	color: #9e9e9e;
}

#policy a {
	color: #7e57c2;
	font-weight: 500;
}

.form-control:focus {
	border: 1px solid #7e57c2;
  	box-shadow: none;
}